mixin line (title, value)
  .line
    .title= title
    .value= value

.bid
  ul(id=number)
    li!= number + '<br>'
      = date
    li!= subject + '<br>'
      = level
    li= place
    li!= city + '<br>'
      = district
    li= bet
    li= price
    li= status
    li= payment

  .details_block
    +line('Категория ученика:', category_pupil)
    +line('Направление подготовки:', training_direction )
    +line('Количество занятий:', number_of_lessons )
    +line('Пожелания:', wishes )
    +line('Ближайшее метро:', near_metro )
    +line('Комментарии:', comments )
    +line('Цель занятия:', lesson_goal )






//- payment - проверка на наличия поля payment.
  у ul два класса: bids - заявка как во вкладке заявки
                   report - заявка как во вкладке отчёт




