
.add_photos!=add_photos
.last_name!= last_name
.first_name!= first_name
.middle_name!= middle_name
.gender_data!=gender_data
.err
  .js-out_err_sex
.birth_data!=birth_data
.err
  .js-out_err_date
.value.status!= status
.err
  .js-out_err_status

