
.add_photos!=add_photos
.first_name!= first_name
.last_name!= last_name
.middle_name!= middle_name
.gender_data!=gender_data
.js-out_err_sex
.birth_data!=birth_data
.err
  .js-out_err_date.hide
.value.status!= status
.err
  .js-out_err_status.hide

