link(href=F("nouislider/nouislider.css"), rel="stylesheet")
.container
  .row
    .input-field.col.s12.center-align.hide-on-large-only
      a.waves-effect.waves-light.btn.yellow-btn.js-show_filter Подобрать по параметрам
    .col.l3.m12.s12.content-block.js-filter_block
      //.input-field.top.col.s12.center-align.hide-on-large-only
      //  button.btn.orange-btn.waves-effect.waves-light.js-show_result Подобрать
      !=search_filter
      .input-field.col.s12.center-align.hide-on-large-only.max-width-btn.col-no-padding
        button.btn.yellow-btn.waves-effect.waves-light.js-show_result Подобрать
      !=search_help
    .col.l9.m12.s12.content-block.js-list_tutors
      .js-filter_tags_block!=filter_tags
      .tutor-list
        .results
          -not_exist = !tutors || !tutors[0];
          .js-not_exist(style= not_exist ? 'display: block' : undefined )
            
            .row
              .col.s12
                h4 Поиск не дал результата? У&nbsp;нас есть еще репетиторы.
            .row.valign-wrapper    
              .col.l3.m3.s12.owl.hide-on-small-and-down
                i.icon-owl
              .col.l6.m6.s12
                ol
                  li 
                    p.valign-wrapper Некоторые преподаватели не захотели участвовать в поиске.
                  li 
                    p.valign-wrapper Другие не успели отметить, свободное время в данны момент.
            .row.now
              .col.l6.m6.s12    
                h5 Хотите узнать о всех репетиторах?          
                p Позвоните нам по телефону 
                  a(href='tel:+7-495-151-18-51') +7(495) 151-18-51
                  |, или оставьте контактные данные и мы перезвоним.  
                .color-line.hide-on-small-and-down
              .col.l6.m6.s12
                .js-short_form.la-form
                  .row
                    .col.input-field.s12
                      i.material-icons.prefix person_outline
                      input.validate#la_name(type='text').js-name
                      label(for="la_name") Имя
                  .row
                    .col.input-field.s12
                      i.material-icons.prefix phone
                      input.validate#la_phone(type='tel').js-phone
                      label(for="la_phone") Телефон
                  .row(style="display: none")
                    .col.s12.center-align
                      span.red-text.js-fatal_error
                  .row.no-margin-row
                    .col.s12.center-align
                      a.btn-large.blue-btn.waves-effect.waves-light.js-send Заказать звонок
                        i.material-icons.right send
                .js-success_form(style="display:none")
                  .row
                    .col.s12.our_tutors.center-align
                      h5 Заявка успешно отправлена!
                      p.no-margin-p Наш оператор позвонит вам в течении 10 – 15 минут.
                  .row.no-margin-row
                    .col.s12.center-align
                      a.btn-large.yellow-btn.waves-effect.waves-light.js-detail Дополнить заявку



          .js-tutor!=tutor
          .js-tutors_list
            -if(not_exist)tutors=[];
            each t in tutors
              !=t
          if forward
            .js-controlls
              .col.l6.m6.s6
                if forward.prev
                  a(href=forward.prev) Назад
                else
                  a
              .col.l6.m6.s6.right-align
                if forward.next
                  a(href=forward.next) Вперед
          .js-wait.abs
            .preloader
              .preloader-wrapper.big.active
                .spinner-layer.spinner-blue
                  .circle-clipper.left
                    .circle
                  .gap-patch
                    .circle
                  .circle-clipper.right
                    .circle
                .spinner-layer.spinner-red
                  .circle-clipper.left
                    .circle
                  .gap-patch
                    .circle
                  .circle-clipper.right
                    .circle
                .spinner-layer.spinner-yellow
                  .circle-clipper.left
                    .circle
                  .gap-patch
                    .circle
                  .circle-clipper.right
                    .circle
                .spinner-layer.spinner-green
                  .circle-clipper.left
                    .circle
                  .gap-patch
                    .circle
                  .circle-clipper.right
                    .circle

script(src=F("nouislider/nouislider.js"))
