mixin field (selector, title, value)
  div(class=selector)
    .title=title
    .value!= value

.hint
  .text Чем подробнее Вы заполните профиль, тем быстрее мы сможем найти подходящих Вам учеников. Кроме того, ученики сами легко могут найти Вас, если профиль заполнен - поиск учитывает и фильтрует по всей информации, что вы вводите. :)
  .button!= understand_button

.photo
  .plus
  .camera_big
  .camera_small

.fields
  +field ('first_name', 'Имя :', first_name)
  +field ('last_name', 'Фамилия :', last_name)
  +field ('patronymic', 'Отчество :', patronymic)
  .sex
    .title Пол :
    .value
      .sex_man!= sex_man
      .sex_woman!= sex_woman

  .birth_date
    .title Дата рождения :
    .value
      .birth_day!= birth_day
      .birth_month!= birth_month
      .birth_year!= birth_year

  +field ('status', 'Статус :', status)


