mixin field (selector, title, value)
  div(class=selector)
    .title=title
    .value!= value

.photo
  .plus
  .camera_big
  .camera_small

.fields
  +field ('first_name', 'Имя', first_name)
  +field ('last_name', 'Фамилия', last_name)
  +field ('patronymic', 'Отчество', patronymic)
  .sex
    .title
    .value
      .sex_man!= sex_man
      .sex_woman!= sex_woman

  .birth_date
    .title Дата рождения
    .value
      .birth_day!= birth_day
      .birth_month!= birth_month
      .birth_year!= birth_year

  +field ('status', 'Статус', status)


