.js-section
  .subject.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Предмет
    .reset
      .icon
      .title сбросить
  .show_hidden
    .js-subject!=subject

.js-section
  .tutor_status.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Статус репетитора
  .show_hidden
    .tutor_status
      .student!=student
      .school_teacher!=school_teacher
      .university_teacher!=university_teacher
      .private_teacher!=private_teacher
      .native_speaker!=native_speaker

.js-section
  .place.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Место занятий
  .show_hidden
    .place
      .pupil!=pupil
      .tutor!=tutor
      .remote!=remote

.js-section
  .timetable.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Расписание
  .show_hidden
    .js-calendar!=calendar
.js-section
  .price.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Цена
  .show_hidden
    .js-price!=price
.js-section
  .course.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Предмет
  .show_hidden
    .js-course!=course


.js-section
  .time_to_way.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Время на дорогу
  .show_hidden
    .js-time_spend_way!=time_spend_way
.js-section
  .experience.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Опыт
  .show_hidden
    .js-experience
      .little!=little_experience
      .big!=big_experience
      .bigger!=bigger_experience
      .no_experience!=no_experience


//-
  .show_hidden
    .js-experience
      .little.hover
        .text 1-2 года
      .big.hover
        .text 3-4 года
      .bigger.hover
        .text более 4 лет
      .no_experience.hover
        .text не важно
.js-section
  .sex.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Пол
  .show_hidden
    .choose_gender!=choose_gender
.section
  .reviews_block!=with_reviews
  .verification_block!=with_verification


