.js-section
  .course.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Курс
  .show_hidden
    .list_course!=list_course
    .add_course_block
      .add_course!=add_course
.js-section
  .timetable.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Расписание
  .show_hidden
    .calendar!=calendar
.js-section
  .time_one_lesson.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Время одного занятия
  .show_hidden
    .time_spend_lesson!=time_spend_lesson
.js-section
  .time_to_way.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Время на дорогу
  .show_hidden
    .time_spend_way!=time_spend_way
.js-section
  .experience.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Опыт
  .show_hidden
    .js-experience
      .little.hover
        .text 1-2 года
      .big.hover
        .text 3-4 года
      .bigger.hover
        .text более 4 лет
      .no_experience.hover
        .text не важно
.js-section
  .sex.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Пол
  .show_hidden
    .sex_button
      .female!=female
      .male!=male
.section
  .reviews_block!=with_reviews
  .verification_block!=with_verification
