.js-section.showed
  .subject.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Предмет
  .reset.js-subject_reset
    .icon
    .title сбросить
  .show_hidden
    .js-subject!=subject

.separator_box
  .line

.js-section.showed
  .price.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Цена
  .reset.js-price_reset
    .icon
    .title сбросить
  .show_hidden
    .js-price!=price
.separator_box
  .line

.js-section.showed
  .place.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Место занятий
  .reset.js-place_reset
    .icon
    .title сбросить
  .show_hidden
    .place
      .pupil!=pupil
      .tutor!=tutor
      .remote!=remote
    .area!=area
.separator_box
  .line

.js-section
  .time_to_way.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Время на дорогу
  .reset.js-time_to_way_reset
    .icon
    .title сбросить
  .show_hidden
    .js-time_to_way!=time_spend_way
.separator_box
  .line

.js-section
  .tutor_status.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Статус репетитора
  .reset.js-tutor_status_reset
    .icon
    .title сбросить
  .show_hidden
    .tutor_status
      .student!=student
      .school_teacher!=school_teacher
      .university_teacher!=university_teacher
      .private_teacher!=private_teacher
      .native_speaker!=native_speaker

.separator_box
  .line

//- In latest versions
  .js-section
    .timetable.js-title
      .icon_box
        .icon_right
        .icon_down
      .title Расписание
    .show_hidden
      .js-calendar!=calendar

  .separator_box
    .line

.js-section
  .course.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Курс
  .reset.js-course_reset
    .icon
    .title сбросить
  .show_hidden
    .js-course!=course

.separator_box
  .line

.js-section
  .group_lessons.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Групповые занятия
  .reset.js-group_lessons_reset
    .icon
    .title сбросить
  .show_hidden
    .js-group_lessons!=group_lessons

.separator_box
  .line

.js-section
  .experience.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Опыт
  .reset.js-experience_reset
    .icon
    .title сбросить
  .show_hidden
    .js-experience
      .little!=little_experience
      .big!=big_experience
      .bigger!=bigger_experience

.separator_box
  .line

//-
  .show_hidden
    .js-experience
      .little.hover
        .text 1-2 года
      .big.hover
        .text 3-4 года
      .bigger.hover
        .text более 4 лет
      .no_experience.hover
        .text не важно
.js-section
  .sex.js-title
    .icon_box
      .icon_right
      .icon_down
    .title Пол
  .reset.js-sex_reset
    .icon
    .title сбросить
  .show_hidden
    .choose_gender!=choose_gender

.separator_box
  .line

.section
  .reviews_block!=with_reviews
  .verification_block!=with_verification


