.all_tags_block
.js-section.showed
  .subject.js-title
    .choose.active
    .icon_box
      .icon_right
      .icon_down
    .title Предмет
  .show_hidden
    .js-subject!=subject
    .sub_title Курс
    .js-course!=course
.separator_box
  .line
.js-section.showed
  .price.js-title
    .choose
    .icon_box
      .icon_right
      .icon_down
    .title Цена
  .show_hidden
    .js-price!=price
.separator_box
  .line
.js-section.showed
  .place.js-title
    .choose
    .icon_box
      .icon_right
      .icon_down
    .title Место занятий
  .show_hidden
    .place
      .pupil!=pupil
      .area.hidden!=area
      .tutor!=tutor
      .area.hidden!=area
      .way_time_box
        .js-time_to_way!=time_spend_way
      .remote!=remote
.separator_box
  .line
.js-section
  .tutor_status.js-title
    .choose
    .icon_box
      .icon_right
      .icon_down
    .title Статус репетитора
  .show_hidden
    .tutor_status
      .student!=student
      .school_teacher!=school_teacher
      .university_teacher!=university_teacher
      .private_teacher!=private_teacher
      .native_speaker!=native_speaker


//.separator_box
  .line
//- In latest versions
  .js-section
    .timetable.js-title
      .icon_box
        .icon_right
        .icon_down
      .title Расписание
    .show_hidden
      .js-calendar!=calendar

  .separator_box
    .line

.separator_box
  .line
.js-section
  .experience.js-title
    .choose
    .icon_box
      .icon_right
      .icon_down
    .title Опыт
  .show_hidden
    .js-experience
      .little!=little_experience
      .big!=big_experience
      .bigger!=bigger_experience

.separator_box
  .line
.js-section
  .group_lessons.js-title
    .choose
    .icon_box
      .icon_right
      .icon_down
    .title Групповые занятия
  //.reset.js-group_lessons_reset
    .icon
    .title сбросить
  .show_hidden
    .js-group_lessons!=group_lessons


.separator_box
  .line

//-
  .show_hidden
    .js-experience
      .little.hover
        .text 1-2 года
      .big.hover
        .text 3-4 года
      .bigger.hover
        .text более 4 лет
      .no_experience.hover
        .text не важно
.js-section
  .sex.js-title
    .choose
    .icon_box
      .icon_right
      .icon_down
    .title Пол
  .show_hidden
    .choose_gender!=choose_gender
.separator_box
  .line
.section
  .reviews_block!=with_reviews
  .verification_block!=with_verification
  .this_photo!=this_photo


