.search-filter
  .top-filter-parametrs
    .row.no-bottom-margin
      .col.s12
       .filter-title Выберете предмет и направление подготовки
    .row.no-bottom-margin
      .input-field.col.s12
        select(name='subject', multiple)
          option(value='', selected, disabled) Предмет
          each groups,gname in subject_list
            optgroup(label!=gname)
              each val,index in groups
                option(value!=val)!=val
    .row.no-bottom-margin
      .input-field.col.s12
        select(name='course', multiple)
          option(value='', disabled, selected) Направление подготовки
            each val, index in training_direction.items
              option(value=!val)!=val

  ul.collapsible(data-collapsible='expandable').search-filter.js-indicate

    li.i-block
      .collapsible-header.i-header(data-check='0', data-type='price') Цена за 60 минут
      .collapsible-body
        each val, index in price_select.items
          .row
            .col.s12
              input(name='price', type='checkbox', id='price-' + index, value!=val)
              label(for='price-' + index)!=val
    li.i-block
      .collapsible-header.i-header(data-check='0', data-type='status') Статус репетитора
      .collapsible-body
        each val, index in status_tutor.items
          .row
            .col.s12
              input(name='status', type='checkbox', id='status-' + index, value!=val)
              label(for='status-' + index)!=val
    li.i-block
      .collapsible-header.i-header(data-type='sex') Пол
      .collapsible-body
        each val, index in sex.items
          .row.no-bottom-margin
            .col.s12
              input(name='sex', type='radio', id='sex-' + index, value!=val).with-gap
              label(for='sex-' + index)!=val
  .row
    .input-field.col.s12.center-align
      button.btn.js-use_settings Подобрать
