.search-filter
  .top-filter-parametrs
    .row.no-bottom-margin
      .col.s12
       .filter-title Выберете предмет и направление подготовки
    .row.no-bottom-margin
      .input-field.col.s12
        select(multiple).js-megaselect
          each groups in subject_list
            optgroup(label!=groups.group)
              option(value='', selected, disabled) Предмет
              each val, index in groups.items
                option(value!=index)!=val
    .row.no-bottom-margin
      .input-field.col.s12
        select(multiple).js-megaselect
          option(value='', disabled, selected) Направление подготовки
            each val, index in training_direction.items
              option(value=!index)!=val

  ul.collapsible(data-collapsible='expandable').search-filter

    li
      .collapsible-header Цена за 60 минут
      .collapsible-body
        each val, index in price_select.items
          .row
            .col.s12
              input(type='checkbox', id='price' + index)
              label(for='price' + index)!=val
    li
      .collapsible-header.selected Статус репетитора
      .collapsible-body
        each val, index in status_tutor.items
          .row
            .col.s12
              input(type='checkbox', id='status' + index)
              label(for='status' + index)!=val
    li
      .collapsible-header Пол
      .collapsible-body
        each val, index in sex.items
          .row.no-bottom-margin
            .col.s12
              input(name='sex', type='radio', id='sex_radio_' + index).with-gap
              label(for='sex_radio_' + index)!=val
  .row
    .input-field.col.s12.center-align
      button.btn Подобрать