- value = value.filter || {};
- var sub_exist = {};
- var cou_exist = {};
- for(var key in value.subjects) sub_exist[value.subjects[key]] = true;
- for(key in value.course) cou_exist[value.course[key]] = true;
- console.log(sub_exist);
.search-filter
  .top-filter-parametrs
    .row.no-bottom-margin
      .col.s12
       .filter-title Выберете предмет и направление подготовки
    .row.no-bottom-margin
      .input-field.col.s12
        select(name='subject', multiple).js-subjects
          option(value='', selected, disabled) Предмет
          each groups,gname in subject_list
            optgroup(label!=gname)
              each val,index in groups
                option(value!=val, selected=(sub_exist[val]?true:undefined))!=val
    .row.no-bottom-margin
      .input-field.col.s12
        select(name='course', multiple).js-course
          option(value='', disabled, selected) Направление подготовки
            each val, index in training_direction.items
              option(value=!val, selected=(cou_exist[val]?true:undefined))!=val

  mixin checkBlock(title, is_open)
    li.i-block&attributes(attributes)
      .collapsible-header.i-header(class=is_open?'selected active':undefined)!=title
      .collapsible-body(style=is_open?'display:block':undefined)
        block


  ul.collapsible(data-collapsible='expandable').search-filter
    -var open = false,s;
    -for(s in value.price){open=true; break;}
    +checkBlock('Цена за 60 минут', open).js-price_block
      each val, index in price_select.items
        .row
          .col.s12
            input(name='price', type='checkbox', id='price-' + index, value!=val, data-v='price', checked=(value.price[val]?true:undefined))
            label(for='price-' + index)!=val

    -open = false;
    -for(s in value.status){open=true; break;}
    +checkBlock('Статус репетитора', open).js-status_block
      each val, index in status_tutor.items
        .row
          .col.s12
            input(name='status', type='checkbox', id='status-' + index, value!=val, data-v='status',checked=(value.status[val]?true:undefined))
            label(for='status-' + index)!=val

    -open = sex.items[0] != value.sex;
    +checkBlock('Пол', open).js-sex_block
      each val, index in sex.items
        .row.no-bottom-margin
          .col.s12
            if index == 0
              input(name='sex', type='radio', id='sex-' + index, value!=val, data-v='sex',checked=(value.sex == val?true:undefined)).with-gap.i-no
            else
              input(name='sex', type='radio', id='sex-' + index, value!=val, data-v='sex', checked=(value.sex == val?true:undefined)).with-gap
            label(for='sex-' + index)!=val



  .row
    .input-field.col.s12.center-align
      button.btn.js-use_settings Подобрать
