
- var metro_stations = value.metro || {};

- var data = value.filter || {};
- var price = data.price || {};
- var status = data.status || {};
- var sex = data.sex || '';
- var metro = data.metro || [];

- var show_price = value.sh_price || false;
- var show_status = value.sh_status || false;
- var show_sex = value.sh_sex !== undefined? value.sh_sex : (sex_tutor.items[0] != sex);
- var show_metro = value.sh_metro || false;

- var subject_exist = value.sub_exist || {};
- var course_exist = value.course_exist || {};
- var metro_exist = value.metro_exist || {};

//- if (data.subjects) for(var key in data.subjects) sub_exist[data.subjects[key]] = true;
//- if (data.course) for(key in data.course) cou_exist[data.course[key]] = true;
.search-filter
  .top-filter-parametrs
    .row.no-bottom-margin
      .col.s12
       .filter-title Выберите предмет и направление подготовки
    .row.no-bottom-margin.fixed-spicer
      .input-field.col.s12.slide_collapse
        select(name='subject', multiple, data-constrainwidth='false', data-minwidth='true' data-filter='true').js-subjects
          option(value='', selected, disabled) Предмет
          each groups,gname in subject_list
            optgroup(label!=gname)
              each val,index in groups
                option(value!=val, selected=(subject_exist[val]?true:undefined))!=val

    .row.no-bottom-margin.fixed-spicer
      .input-field.col.s12.slide_collapse
        .div-for-del
          select(name='course', multiple, data-select-id="true").js-course
            option(value='', disabled, selected) Направление подготовки
            each val, index in training_direction.items
              option(value!=val, selected=course_exist[val]?true:undefined)!=val

  mixin checkBlock(title, is_open)
    li.i-block(class=is_open?'active':undefined)&attributes(attributes)
      .collapsible-header.i-header(class=is_open?'selected active':undefined)!=title
      .collapsible-body(style=is_open?'display:block':undefined)
        block


  ul.collapsible(data-collapsible='expandable').search-filter

    +checkBlock('Цена за 60 минут', show_price).js-price_block
      each val, index in price_select.items
        .row
          .col.s12
            input(name='price', type='checkbox', id='price-' + index, value!=val, data-v='price', checked=(price[val]?true:undefined))
            label(for='price-' + index)!=val

    +checkBlock('Статус репетитора', show_status).js-status_block
      each val, index in status_tutor.items
        .row
          .col.s12
            input(name='status', type='checkbox', id='status-' + index, value!=val, data-v='status',checked=(status[val]?true:undefined))
            label(for='status-' + index)!=val

    +checkBlock('Пол', show_sex).js-sex_block
      each val, index in sex_tutor.items
        .row.sex-bottom-margin
          .col.s12
            if index == 0
              input(name='sex', type='radio', id='sex-' + index, value!=val, data-v='sex',checked=(sex == val?true:undefined)).with-gap.i-no
            else
              input(name='sex', type='radio', id='sex-' + index, value!=val, data-v='sex', checked=(sex == val?true:undefined)).with-gap
            label(for='sex-' + index)!=val

    +checkBlock('Метро', show_metro).js-metro_location
      .row.no-bottom-margin.metro-loc
        .input-field.col.s12.slide_collapse
          select(name='color', data-v="branch", multiple, data-constrainwidth='false', data-minwidth='true').js-branch
            option(value='', selected, disabled) Любая станция
            for v, name_li in metro_stations
              optgroup(label=v.name)
                each s, name_st in v.stations
                  -var val = name_li+":"+name_st
                  option(value=val, selected=metro_exist[val]?true:undefined)!=s


  .row.hide-on-med-and-down
    .input-field.col.s12.center-align.max-width-btn
      button.btn.yellow-btn.waves-effect.waves-light.js-use_settings Подобрать
