.row.tutors-hover
  .col.s12.m12.l12
    .tutor-block
      .col.s3.left
        a(href!=value.link, title!= value.name).js-image_a
          img.js-image(src!= value.photos, alt!=value.name).responsive-img
      .col.s9.m9.l9.left.sub-col
        .col.s12.m12.l6
          .tutor-title
            a(href!=value.link, title!= value.name).js-name!=value.name
        .col.s12.m12.l6.right-align.tutor-reviews
          a.js-review_a(href!=value.link_comment, title!= value.name, style= value.reviews == '0 отзывов'? 'display: none': undefined)
            span!=value.reviews
            i.material-icons question_answer
      .col.s9.m9.l9.right.hide-on-small-only
        .grey-text.text-darken-1.js-experience
          i.material-icons.middle-icon school
          span.middle-span!=value.experience
      .col.s12.m9.l9.right.tutor-info-line
        .col.s6.m4.l4.color-card
          .small.gray-text.text-darken-1
            i.material-icons.middle-icon account_balance_wallet 
            span.middle-span.card-info-color
              | от&nbsp;
              span.js-price!=value.left_price
              span р./час
        .col.s6.m4.l4
          .js-location.color-card
              i.material-icons location_on
              span.middle-span.card-info-color!=value.location
        .col.s6.m4.l4
          .js-metro_line
            case value.metro_tutors.type
              when 'remote'
              when 'all'
              when 'area'
              when 'street'
                span.middle-span.card-info-color!=value.metro_tutors.data
              when 'metro'
                -val = value.metro_tutors.data[0];
                span.stantion.dropdown-button(data-hover="true",data-constrainwidth="false", data-activates!="d#{value.index}")
                  i.material-icons.middle-icon(style='color:' + val.color) fiber_manual_record
                  span.card-info-color!=val.metro
                  if value.metro_tutors.data.length > 1
                    .dotted_more-button.right-align
                if value.metro_tutors.data.length > 1
                  ul.dropdown-content(id!="d#{value.index}")
                    each val, i in value.metro_tutors.data
                      li
                        span.stantion
                          i.material-icons.middle-icon(style='color:' + val.color) fiber_manual_record
                          span!=val.metro

      .col.s12.m9.l9.right.description.card-info-color
        p.js-about!=value.about
      .col.s12.m9.l9.right.valign-wrapper.no-vertical-space.card-control
        .col.s12.m9.l7.valign.subject-list
          .js-subject.color-card
            - var this_subject = main_subject || "";
            - var subj_l = value.subject.length;
            - this_subject = this_subject.capitalizeFirstLetter();
              if (this_subject != "")
                span.middle-span
                  i.material-icons import_contacts
                  span.middle-span.subject-color!= this_subject
              else    
                span.middle-span.subject-text
                  i.material-icons import_contacts
                  -str = ''
                  each val, index in value.subject
                    if index != 0
                      - str += ',&#32;'
                    -str += val
                  span.middle-span.subject-color!=str
        .col.s12.m9.l5.right-align.tutor-action.valign.hide
          button.waves-effect.btn-flat.btn-trigger.js-tutor_trigger
            span.tutor_button_text Выбрать
            i.material-icons.right add                 
        .col.s12.m9.l5.right-align.tutor-action.valign
          a(href!=value.link).waves-effect.waves-light.btn-flat.btn-trigger
            span.tutor_button_text Посмотреть
    .divider
