.row.tutors-hover
  .col.s12.m12.l12
    .tutor-block
      .col.s3.left
        a(href!=value.link).js-image_a
          img.js-image(src!= value.photos).responsive-img
      .col.s9.m9.l7.left
        .tutor-title
          a(href!=value.link).js-name!=value.name
      .col.s9.m9.l9.right.hide-on-small-only
        .grey-text.text-darken-1.js-experience
          i.material-icons.middle-icon school
          span.middle-span!=value.experience
      .col.s12.m9.l9.right.tutor-info-line
        .col.s6.m4.l4
          .js-subject.color-card
            - var this_subject = main_subject || "";
            - var subj_l = value.subject.length;
            - this_subject = this_subject.capitalizeFirstLetter();
              if (this_subject != "")
                span.middle-span
                  i.material-icons import_contacts
                  span.middle-span.subject-color!= this_subject
              else    
                if (subj_l == 1)
                  each val, index in value.subject
                    span.middle-span
                      i.material-icons import_contacts
                      span.middle-span.subject-color!=val
                    - break;
                else    
                  each val, index in value.subject
                    span.middle-span.dropdown-button(data-hover="true",data-alignment="right",data-beloworigin="true",data-constrainwidth="false", data-activates!="s#{value.index}")
                      i.material-icons import_contacts
                      span.middle-span.subject-color!=val
                      .dotted_more-button.right-align
                    - break;
                  ul.dropdown-content(id!="s#{value.index}")
                    each val, index in value.subject 
                      - if(index==0) continue;
                        li
                          span.stantion
                            i.material-icons import_contacts
                            span.middle_span!=val
        .col.s6.m4.l4
          .js-location.color-card
              i.material-icons location_on
              span.middle-span.card-info-color!=value.location
        .col.s6.m4.l4
          .js-metro_line
            - var ti =0;
            - var metroL = Object.keys(value.metro_tutors).length
              if (metroL == 1)
                each val, key in value.metro_tutors
                  span.stantion
                    i.material-icons.middle-icon(class!=val.color) fiber_manual_record
                    span.card-info-color!=val.metro
                  - break;
              else if(metroL == 0)
                - var street_loc = value.street_loc || value.area_loc || ""
                if street_loc != ""
                  span.middle-span.card-info-color!=street_loc
              else
                each val, key in value.metro_tutors
                  span.stantion.dropdown-button(href="#",data-hover="true",data-alignment="right",data-beloworigin="true",data-constrainwidth="false", data-activates!="d#{value.index}")
                    i.material-icons.middle-icon(class!=val.color) fiber_manual_record
                    span.card-info-color!=val.metro
                    .dotted_more-button.right-align
                  - break;
                ul.dropdown-content(id!="d#{value.index}")
                 each val, key in value.metro_tutors
                    - if(ti++==0) continue;
                    li
                      span.stantion
                        i.material-icons.middle-icon(class!=val.color) fiber_manual_record
                        span!=val.metro
      .col.s12.m9.l9.right.description
        p.js-about!=value.about
      .col.s12.m9.l9.right.valign-wrapper.no-vertical-space.card-control
        .col.s12.m9.l6.valign
          .small.gray-text.text-darken-1
            i.material-icons.middle-icon bookmark_border
            span.middle-span
              | от&nbsp;
              span.js-price!=value.left_price
              span р./час
        .col.s12.m9.l6.right-align.tutor-action.valign
          button.waves-effect.btn-flat.btn-trigger.js-tutor_trigger
            span.tutor_button_text Выбрать
            i.material-icons.right add
    .divider
