.row.tutors-hover
  .col.s12.m12.l12
    .tutor-block
      .col.s3.left
        a(href!=value.link).js-image_a
          img.js-image(src!= value.photos).responsive-img
      .col.s9.m9.l7.left
        .tutor-title
          a(href!=value.link).js-name!=value.name
      .col.s9.m9.l9.right.hide-on-small-only
        .grey-text.text-darken-1.js-experience!=value.experience
      .col.s12.m9.l9.right
        .grey-text.text-darken-1.js-subject!= value.subject
      .col.s12.m9.l9.right.description
        p.js-about!=value.about
      .col.s12.m9.l9.right.valign-wrapper.no-vertical-space
        .col.s12.m9.l6.valign
          .grey-text.text-darken-1.js-location!=value.location
          .grey-text.text-darken-1.js-metro_line
            each val, index in value.metro_tutors
              span.stantion
                i.material-icons(class!=val.color) directions_transit
                span!=val.metro
        .col.s12.m9.l6.valign
          .small.gray-text.right-align от&nbsp;
            span.js-price!=value.left_price
            span р./час
      .col.s12.m12.l12.right-align.tutor-action
        button.waves-effect.waves-teal.btn-flat.btn-trigger.js-tutor_trigger
          span.tutor_button_text Выбрать
          i.material-icons.right add
    .divider
