.row.tutors-hover
  .col.s12.m12.l12
    .tutor-block
      .col.s3.left
        a(href!=value.link).js-image_a
          img.js-image(src!= value.photos).responsive-img
      .col.s9.m9.l7.left
        .tutor-title
          a(href!=value.link).js-name!=value.name
      .col.s9.m9.l9.right.hide-on-small-only
        .grey-text.text-darken-1.js-experience
          i.material-icons.middle-icon school
          span.middle-span!=value.experience
      .col.s12.m9.l9.right.tutor-info-line
        .col.s4.m4.l4
           .grey-text.text-darken-1.js-subject.color-card
              i.material-icons import_contacts
              span.middle-span!= value.subject
        .col.s4.m4.l4
           .grey-text.text-darken-1.js-location.color-card
              i.material-icons location_on
              span.middle-span!=value.location
        .col.s4.m4.l4
          .grey-text.text-darken-1.js-metro_line
            - var ti =0;
              each val, key in value.metro_tutors
                span.stantion
                  i.material-icons.middle-icon(class!=val.color) fiber_manual_record
                  span!=val.metro
                - break;
             .order_stantion
               each val, key in value.metro_tutors
                - if(ti++==0) continue; 
                 span.stantion
                  i.material-icons.middle-icon(class!=val.color) fiber_manual_record
                  span!=val.metro
      .col.s12.m9.l9.right.description
        p.js-about!=value.about
      .col.s12.m9.l9.right.valign-wrapper.no-vertical-space.card-control
        .col.s12.m9.l6.valign
          .small.gray-text.text-darken-1
            i.material-icons.middle-icon bookmark_border
            span.middle-span
              | от&nbsp;
              span.js-price!=value.left_price
              span р./час
        .col.s12.m9.l6.right-align.tutor-action.valign
          button.waves-effect.waves-teal.btn-flat.btn-trigger.js-tutor_trigger
            span.tutor_button_text Выбрать
            i.material-icons.right add
    .divider
