.city Москва
.telephone 8 (800)
  span  937-37-93
.title
  .click_box
    .icon
    .text Заказать звонок
  .popup_box!= callback_popup
//-
    .triangle_box
      .triangle
    .popup
      .close_box
        .close
      .name!=name
      .tel_number!=tel_number
      .comments!=comments
      .button_panel_choose
        .pupil!=pupil
        .tutor!=tutor
      .order_call!=order_call
