- selector = selector || "";
.title
  .click_box
    //.icon
    .text Заказать звонок
  .call_back_popup(class=selector)!= call_back_popup
.js-telephone.select +7 (495) 181 03 73
//-
    .triangle_box
      .triangle
    .popup
      .close_box
        .close
      .name!=name
      .tel_number!=tel_number
      .comments!=comments
      .button_panel_choose
        .pupil!=pupil
        .tutor!=tutor
      .order_call!=order_call
