- var style = ""; console.log(subject_name); if (!subject_name) style += "display:none;";
- if (!subject_name)subject_name = "";
.js-bg_block(style=style)
  .tag_block
    .js-subject_tag!=subject_name
    .control_block
      .js-hide Свернуть
      .js-delete Удалить
  .js-container
    .value.course!=course
    .err
      .js-out_err_course
    .categories_of_students
      .title Категории учеников :
      .check_panel
        .left_block
          .pre_school!=pre_school
          .junior_school!=junior_school
          .medium_school!=medium_school
        .right_block
          .high_school!=high_school
          .student!=student
          .adult!=adult
    .err
      .js-out_err_categories_of_students
    .value.duration!= duration
    .price
      .title Цена занятия :
      .slider!= price_slider
    .place
      .title!='Место занятий :'
      .check_panel
        .left_block
          .tutor!=place_tutor
          .pupil!=place_pupil
        .right_block
          .remote!=place_remote
          .cafe!=place_cafe
    .err
      .js-out_err_place
    .value.group_learning!=group_learning
    .err
      .js-out_err_group_learning
    .value.comments!= comments
