.fast_bid
  .progress_bar!= progress_bar
  .center
    .book
    .content!= content
    .add_tutors!=add_tutors
    //.hint.select(style = selector)!=hint
  .footer
    .button_back!=button_back
    .issue_bid!=issue_bid
    .button_next!=button_next


