.calendar_box
  .panel
    .weak_box
      .js-calendar_week
        .monday.hover пн
        .tuesday.hover вт
        .wednesday.hover ср
        .thursday.hover чт
        .friday.hover пт
        .saturday.hover сб
        .sunday.hover вс
    .separate_line!=separate_line
  .day_time_box
    if day_time
      each val,i in day_time
        .day_time(class="index_#{i%2}")
          .day!=val.day
          .time c #{val.period.start} до #{val.period.end}
        .separate_line!=separate_line
