- selector = selector || "";
- placeholder = placeholder || "";
label(class=selector)
  if text
    .text.select!=text
  if height
    textarea(style="height : #{height}", placeholder=placeholder, maxlength="300")
  else
    textarea(style="height : 100%", placeholder=placeholder maxlength="300")
