if active
  if title == 'Анкета'
    div(class=item_class).active
      a(href=href)
        .icon_box
          .icon
        .title= title
      .edit
        a(href='/tutor/edit/general') ред.
  else
    div(class=item_class).active
      a(href=href)
        .icon_box
          .icon
        .title= title
else
  if title == 'Анкета'
    div(class=item_class)
      a(href=href)
        .icon_box
          .icon
        .title= title
      .edit
        a(href='edit/general') ред.
  else
    div(class=item_class)
      a(href=href)
        .icon_box
          .icon
        .title= title

