mixin info_block ( title, array )
  .info_block
      .title= title+': '
      .value
        each value in array
            =value+' '


if send_bid_this_tutor
  .send_bid_this_tutor!=send_bid_this_tutor
.edit_block!=line_place
.address_and_free_time
  .address_block
    .address_time!=address_time
    .map!=map
    .show_calendar!=show_calendar
+info_block ('Выезд ', outside_work_areas)
+info_block ('Удалённо ', distance_work)
.edit_block.top_padding!=line_subject
.subject_details_data
  .subject.m-title_block
    !=subject
  .details_data!=details_data

