mixin info_block ( title, array )
  .info_block.select
      .title= title+': '
      .value
        each value in array
            =value+' '

mixin assoc_info_block (title, array)
  .info_block.select
    .title= title+': '
    .value
      each val, index in array
        =val+' '

if send_bid_this_tutor
  .send_bid_this_tutor!=send_bid_this_tutor
.edit_block!=line_place
.address_and_free_time
  .address_block
    .address_time!=address_time
    .map!=map
    //.show_calendar!=show_calendar
  .free_time
if outside_work_areas
  +assoc_info_block('Выезд ', outside_work_areas)
.edit_block.top_padding!=line_subject
.subject_details_data
  .js-subject!=subject
  .js-details_data!=details_data

