.hint_block
  .title.g-font-middleTitle Список заказов, по которым вы работаете
  .hint!= hint
.illustrations
  .item
  .item
  .item
  .item
  .item
.bar
  .select_all
    .button!= select_all_checkbox
    .list!= select_all_list
  .delete
    .icon
    .title.g-font-bidTitles Удалить
  .select_subject!= subject
.list_bids!= list_bids


