.subject=subject
.full_name=full_name
.photo_wrap
  a.photo(style = 'width: #{img.w}px; height:#{img.h}px' href=href)
    img(src=img.src)
.price=price
.about_text=about_text
a.open_button(href=href)
 .text ОТКРЫТЬ АНКЕТУ