mixin illustration_text(text, x, y)
  .text.select(style="top: #{y}px; left: #{x}px;")!=text

mixin item (text, icon_src)
  .item
    .icon(style="background: url(#{F(icon_src)}) no-repeat center")
    .text.m-font.select=text

mixin review(selector, name, text)
  .review(class=selector)
    .photo_wrap
      .photo
      .name=name
    .text_box
      .quotes_wrap
        .quotes
      .text.select=text
      .triangle


//- ------------------ CHECK IN -------------------------
if popup
  !=popup
.simple_search.select
  .t1 Каждый день тысячи учеников ищут<br>репетиторов онлайн!
  .t2 Площадка Lesson Home позволяет создать бесплатный онлайн профиль, в котором есть всё необходимое, чтобы показать свою квалификацию и опыт.
  .main_tutor_search
  .pattern_bottom

.board_wrap
  .board
.motivation
  .left
    .title.select "Lesson Home" -<br>это свобода выбора
    .text.select
      ul
        li Вы сами выбираете, с кем из учеников будете проводить частные занятия;
        li Вы устанавливаете справедливую стоимость одного занятия с Вами;
        li Вы определяете продолжительность занятия и место его проведения.
    .button.js-motivation_create_profile!=create_profile
  .center.select
    .title Ваш надёжный<br>бизнес-партнёр
    .text Когда есть надёжный партнёр – будет и отличный результат! Наша команда поставила перед собой задачу по созданию эффективного и полезного сервиса для репетиторов и учеников. И мы выполнили задуманное качественно и профессионально! С "Lesson Home" Вы можете увеличить ежемесячный доход, нарастить клиентскую базу и начать частную репетиторскую деятельность уже сегодня!
  .right
    .title.select Просто как<br>"Раз, два, три"!
    .text.select Найти новых учеников с "Lesson Home" очень просто:<br> - зарегистрируйтесь на нашем сайте;<br>- заполните информацию о себе в профиле;<br>- начните поиск учеников, исходя из своих пожеланий.<br> Если Вы не знаете с чего начать или просто не разобрались, свяжитесь с нами через форму обратной связи либо по телефону. Наши специалисты обязательно помогут Вам!
    .button!=callback
  .bottom_pattern
.reviews_wrap.select
  .title Что говорят о нас ученики и репетиторы
  .reviews
    +review('first', 'Игорь', 'Ребята молодцы, сделали очень удобный поиск! При изменении настроек сразу же обновляется список репетиторов - можно довольно быстро найти то, что тебе нужно.')
    +review('second','Татьяна', 'Мне очень понравился дизайн сайта, всё в тему и приятное. Зарегистрировалась легко и надеюсь на скорый запуск!')

.background_earth
.background_note
.background_pc
.background_pencils
.background_ruler
.background_vial
.check_in
  .top_block.select
    form.js-form.check_in_fields.unselect(action="/form/tutor/register" method="post" name="login")
      input.js-submit(type='submit')
      .title.select Регистрация репетитора
      .top_text
        .t3 Зарегистрируйтесь сейчас и получите бонус к рейтингу!
      .login
        .input!= login
      .password
        .input!= password
      .checkbox
        .field!= agree_checkbox
        .text.select!= 'Я прочитал и согласен с '
          a.js-terms_link.m-Link.select(href="") Условиями оказания информационных услуг
        .js-checkbox_error Пожалуйста, ознакомьтесь с условиями оказания услуг
      .buttons
        .create_account!=create_account
