mixin illustration_text(text, x, y)
  .text.select(style="top: #{y}px; left: #{x}px;")!=text

mixin item (text, icon_src)
  .item
    .icon(style="background: url(#{F(icon_src)}) no-repeat center")
    .text.m-font.select=text


//- ------------------ CHECK IN -------------------------

.check_in
  .title.m-font.select Lesson <span>Home</span> соединяет высоко-квалифицированных<br>репетиторов с учениками для занятий любым удобным способом.
  .title_conditions.select!= 'Подробная информация об условиях сотрудничества изложена<br>в '
    a.m-Link.select Условиях оказания информационных услуг

  .check_in_fields.unselect
    .title.select Пройти регистрацию
    .login
      .input!= login
    .password
      .input!= password

    .checkbox
      .field!= checkbox
      .text.m-font.select!= 'Я прочитал и согласен с '
        a.m-Link.select Условиями оказания информационных услуг

      .buttons
        .a.m-Link.phone_check_in.select Регистрация по телефону
        .create_account!=create_account


//- ------------- HOW IT WORKS --------------------

//-F('main_tutor/mainreg_how.png')

.how_it_works(scrolltop="how-it-works")
  .title.m-landingBlockTitle.select Как это работает?
  .illustrations
    img(src=F('main_tutor/mainreg_how.png'))
    +illustration_text ('Условия', 60, 159)
    +illustration_text ('Регистрация', 321, 159)
    +illustration_text ('Заполните<br>профиль', 619, 159)
    +illustration_text ('Поиск<br>ученика', 64, 415)
    +illustration_text ('Получите<br>контакты', 337, 415)
    +illustration_text ('Начните<br>занятия', 630, 415)
    +illustration_text ('Ваш<br>выбор', 20, 535)
    +illustration_text ('Наш<br>выбор', 135, 535)
    +illustration_text ('Договоритесь<br>о встрече', 320, 535)
    +illustration_text ('Оплатите<br>услугу', 560, 534)
    +illustration_text ('Получите<br>прибыль', 703, 535 )

  .button!= check_in_first



//- ---------- ADVANTAGES -------------------------

.advantages(scrolltop="advantages")
  .photo
  .title
    .text.m-font.select Тысячи учеников и их родителей ищут<br> репетиторов онлайн каждый день!
    .text.m-font.select Площадка <span>LESSON HOME</span> позволяет создать бесплатны<br> онлайн профиль, в котором есть всё необходимое, чтобы<br> продемонстрировать свою квалификацию и опыт.
  .content
    .left
      .icon
        img(src=F('main_tutor/mainreg_go.png'))
      .title.m-font.select Создать профиль<br> <span class="red">быстро</span> и <span class="blue">бесплатно</span>
      .button_block
        .button!= check_in_second
    .center
      .icon
        img(src=F('main_tutor/mainreg_profile.png'))
      .title.m-font.select Подробный профиль
      .content
        +item ('Удобный и приятный просмотр', 'like.png')
        +item ('Фотографии и видео', 'photo.png')
        +item ('Отзывы учеников', 'left_forum.png')
        +item ('Рейтинг и статистика', 'review.png')
    .right
      .icon
        img(src=F('main_tutor/mainreg_settings.png'))
      .title.m-font.select Управляйте вашим бизнесом
      .content
        +item ('Расписание и синхронизация с личным календарём', 'date.png')
        +item ('Просмотр текущих учеников и истории платежей', 'study.png')
        +item ('Ищите учеников и откликайтесь на заявки', 'search.png')
        +item ('Поддержка клиентов Lesson Home доступна 7 дней в неделю', 'left_help.png')



//- -------- WAYS TO FIND -------------------------

.ways_to_find(scrolltop="ways-to-find")
  .title.m-landingBlockTitle.select 3 способа поиска
  .illustrations
    img(src=F('main_tutor/main_search.png'))
    +illustration_text ('Подберите себе<br>ученика сами', 57, 159)
    +illustration_text ('Заполните профиль<br>и наша команда<br>предложит вам<br>разные варианты', 533, 159)
    +illustration_text ('Позвоните нам<br>и мы всё сделаем за вас', 262, 488)
  .button!= callback

.choose_tutor_block(style = "background: url(#{F('main/pattern_green2.jpg')})")!=choose_search

