.left_block
    .outside_work_price!='Выезд<br/>'+outside_work_price
    .home_price!='У себя<br/>'+home_price
    .distance_work_price!='Удалённо<br/>'+distance_work_price

!=line

.right_block
    .sections
        .title Разделы :
        .value=sections
    .category_student
        .title Категория ученика :
        .value=category_student
    .comments
        .title Комментарии :
        .value=comments
    .group_lessons
        .title Групповые занятия :
        .value=group_lessons
    .duration_lesson
        .title Продолжительность занятия :
        .value=duration_lesson