//- ------------------------------- MIXINS --------------------------------------------------

mixin edit_block (title)
  .edit_block
    .title= title+':'
    .edit_btn редактировать
    .center_line

mixin info_block ( title, array )
  .info_block
      spane.title= title+':'
      spane.value
        - var first = true;
        each value in array
          if first
            =value
            - first = false;
          else
            =', '+value


//- ---------------------------------------------------------------------------------

+edit_block ('Место')

.address_and_free_time!=address_and_free_time

+info_block ('Выезд', outside_work_areas)
+info_block ('Удалённо', distance_work)

.subject_details_data
  +edit_block ('Предметы')
  .subject!=subject
  .details_data!=details_data

