.modal.send-your-request.req-more-form.modal-action.modal-close.js-bid_popup
  .emulate-shadow.modal-action.modal-close
  .inner-modal
    .req-modal-body.js-req_body

      .modal-content
        .row
          .col.s12
            h4.center-align Оформление заявки 
        .row
          .col.s12.js-longer
            h5 Контактная информация:
          .col.input-field.s12
            i.material-icons.prefix person_outline
            input.validate.js-name#req_name(type='text')
            label(for="req_name") Имя
        .row
          .col.input-field.s12
            i.material-icons.prefix phone
            input.validate.js-phone#req_phone(type='tel')
            label(for="req_phone") Телефон
        .row
          .col.s12.js-longer
            h5 Предмет:
          .col.s12.input-field.slide_collapse
            i.material-icons.prefix subject 
            select(multiple).js-subjects
              option(value="" disabled selected) Выберите предмет
              //optgroup(label="Список предметов")
              each groups,gname in subjects
                optgroup(label!=gname)
                  each val,index in groups
                    option(value!=val)!=val

        .row.js-longer
          .col.s12
            h5 Информация о занятиях:
          .col.s12.input-field.slide_collapse.metro-loc
            i.material-icons.prefix location_on 
            select(multiple).js-metro
              option(value="" disabled selected) Метро
              for v, name_li in metro
                optgroup(label=v.name)
                  each s, name_st in v.stations
                    -var val = name_li+":"+name_st
                    option(value=val)!=s
        .row.js-longer
          .col.s12.input-field
            i.material-icons.prefix account_balance_wallet 
            select(multiple).js-price
              option(value="" disabled selected) Цена за 60 мин.
              optgroup(label="Цена")
                for p in prices
                  option(value!=p)!=p
        .row.js-longer
          .col.s12
            h5 Пожелания к репетитору:
          .col.s12.input-field
            i.material-icons.prefix school 
            select(multiple).js-status
              option(value="" disabled selected) Статус репетитора
              optgroup(label="Статус")
                for s, k in status
                  option(value=k)!=s
                //option(value="student") Студент
                //option(value="school_teacher") Преподаватель школы
                //option(value="high_school_teacher") Преподаватель ВУЗа
                //option(value="private_teacher") Частный преподаватель
                //option(value="native_speaker") Носитель языка
        .row.js-longer
          .col.s12.col-title
            i.material-icons.prefix assignment_ind
            span Пол репетитора
          .col.s12.col-radio.js-sex
            input(name="req_sex" type="radio" id="req_s1" checked value="").with-gap
            label(for='req_s1') Неважно
            input(name="req_sex" type="radio" id="req_s2" value="male").with-gap
            label(for='req_s2') Мужской
            input(name="req_sex" type="radio" id="req_s3" value="female").with-gap
            label(for='req_s3') Женский
        .row.bid-textarea.js-longer
          .col.s12.input-field
            i.material-icons.prefix mode_edit
            textarea#bid_textarea.materialize-textarea.js-comment
            label(for='bid_textarea') Ваш комментарий
      .modal-footer
        a.btn.orange-btn.waves-effect.waves-light.js-req_full_send <i class="material-icons right">send</i> Отправить
    .req-modal-success.js-req_success
      .modal-content
        .row
          .col.s12
            h3.center-align Готово
            h4 Ваша заявка успешно отправлена
            h4 Наш оператор позвонит вам в течении <span>10 – 15</span> минут.
      .modal-footer.js-full_btn
        a.btn.orange-btn.waves-effect.js-demo_supplement.waves-light Дополнить заявку
//.modal-content
//  .row
//    .col.s12
//      h4.center-align оформление заявки
//  .row
//    .col.input-field.s12
//      i.material-icons.prefix person_outline
//      input.validate#req_name(type='text')
//      label(for="req_name") имя
//  .row
//    .col.input-field.s12
//      i.material-icons.prefix phone
//      input.validate#req_phone(type='tel')
//      label(for="req_phone") телефон
//  .row
//    .col.s12.input-field
//      i.material-icons.prefix subject
//      select(multiple).js-m_select
//        option(value="" disabled selected) выберите предмет
//        optgroup(label="список предметов")
//          option(value="1") математика
//          option(value="2") русский язык
//          option(value="3") демонология
//          option(value="4") прикладная черная магия
//          option(value="5") ритуалы и жертвоприношения
//.modal-footer
//  a.btn.orange-btn.waves-effect.js-demo_finish.waves-light <i class="material-icons right">send</i> отправить
//.req-modal-success.js-req_success
//  .modal-content
//    .row
//      .col.s12
//        h3.center-align Готово
//        h4 Ваша заявка успешно отправлена
//        h4 Наш оператор позвонит вам в течении <span>10 – 15</span> минут.
//  .modal-footer
//    a.btn.orange-btn.waves-effect.js-demo_supplement.waves-light Дополнить заявку
//.req-more-body.js-more_body
