- var exist = false

.container.profile-bottom-padding
  .row.js-nav_panel.valign-wrapper
    .col.s6.left-align.valign
      a.js-back.btn-flat.waves-effect.waves-grey Назад
        i.material-icons.left arrow_back
    .col.s6.right-align.tutor-action.valign.hide-on-large-only

      button.waves-effect.waves-teal.btn-flat.btn-trigger.js-tutor_trigger
        span.tutor_button_text Выбрать
        i.material-icons.right add

  .row.profile-info
    .col.l8.m8.s12
      .row.profile-card
        .col.l4.m4.s12.center-align
          .row
            .col.s12
              div(width='250').js-view_photo.loaded
                if value.src_avatar
                  img.responsive-img.js-avatar(src = value.src_avatar.lurl data-src = value.src_avatar.hurl)
                else
                  img.responsive-img.js-avatar


            .input-field.col.s12.center-align.tutor-action.profile-button.valign.hide-on-med-and-down
              button.waves-effect.btn-flat.btn-trigger.js-tutor_trigger
                span.tutor_button_text Выбрать
                i.material-icons.right add

        .col.l8.m8.s12
          .row.info-row
            .col.s12
              h1
                span.js-full_name!=value.full_name
                if value.age
                  span.profile-age.js-age_value , #{value.age}
                else
                  span.profile-age.js-age_value(style="display: none")
              i.js-slogan.blue-grey-text.text-lighten-2(style= value.slogan ? '': 'display: none')!=value.slogan
          //.row.rating-block
            //.col.s5
            //  .row.rating-text
            //    .col.s12
            //      span.rating-text_label.grey-text.text-darken-2 Рейтинг:
            //      span.rating-text_index.teal-text.text-darken-1 3.5
            //  .row
            //    .col.s12
            //      .rating-line
            //        .base-stars
            //          i.material-icons.small.grey-text.text-lighten-1 grade
            //          i.material-icons.small.grey-text.text-lighten-1 grade
            //          i.material-icons.small.grey-text.text-lighten-1 grade
            //          i.material-icons.small.grey-text.text-lighten-1 grade
            //          i.material-icons.small.grey-text.text-lighten-1 grade
            //        .this-rating(style='width: 105px;')
            //          i.material-icons.small.orange-text grade
            //          i.material-icons.small.orange-text grade
            //          i.material-icons.small.orange-text grade
            //          i.material-icons.small.orange-text grade
            //          i.material-icons.small.orange-text grade
            //.col.s6
            //  .row
              ##
            //.col.s12.review-block
            //  a(href='#reviews') 3 отзыва
          .row.info-row.info-row-small(style = value.location ? '' : 'display: none')
            .col.s12.grey-text.text-darken-1.js-location!=value.location
          .row.info-row.info-row-small(style = value.status ? '' : 'display: none')
            .col.s12
              ul.tags-list
                li.js-status!=value.status
                //li.js-experience


          - exist = value.places && Object.keys(value.places).length    
          .row.info-row.info-row-small(style= exist ? '' : 'display: none')
            .col.s12

              mixin list(place)
                li
                  i.material-icons.tiny.orange-m-text lens
                  span(data-val='place')!=place

              ul.tags-list.js-short_places
                if exist
                  each p in value.places
                    +list(p.place)

              ul.js-template_short_places(style='display: none')
                +list()

      - exist = value.subjects && Object.keys(value.subjects).length
      .row.tutorials-list.js-block_prices(style= exist ? '' : 'display: none')
        .col.s12

          mixin templ_price(title, price_list)
            - var plus = typeof(price_list) == 'string' ? price_list  : ''
            h5.grey-text.text-darken-4(style= title ? '' : 'display: none')
              span.js-table_title(data-val='title')!=title
              span.plus-price.js-table_plus(data-val='plus')!=plus
            table.highlight(style=plus?'display: none':'' data-val='table')
              thead
                tr
                  th Продолжительность
                  th Цена
              tbody
                if price_list
                  each price in price_list
                    tr
                      td!=price[0]
                      td!= price[1]

          mixin templ_subject(title, subjects)
            h4.grey-text.text-darken-4(style=title ? '' :'display: none' data-val='title')!=title
            div(data-val='body')
              if subjects && Object.keys(subjects).length
                each p in subjects
                  +templ_price(p.name, p.prices)

          h4.red-text.text-darken-3 Цены
          //div(style='display:none')!=template_subject
          div(style='display: none')
            .js-template_price
              +templ_price('&nbsp;')
            ul.js-template_subject
              li
                +templ_subject('&nbsp;', [])

        .col.s12
          if value.short_price
            .js-short_prices
              +templ_subject('', value.short_price)
          else
            .js-short_prices(style='display: none')
        .col.s12
          ul.js-detail_prices(style='display: none')
            if exist
              each sub in value.subjects
                li
                  +templ_subject(sub.name, sub.prices)
      .row
        .col.s12
          button.btn.orange-btn.waves-effect.waves-light.js-show_detail Подробнее


      .row.tutorials-list.js-block_subjects(style= exist ? '' : 'display: none')
        .col.s12

          mixin sub(name, direct, description)
            .row
              .col.s12
                h5.grey-text.text-darken-4(data-val='name')!=name
                i.v-training_direction(data-val='direct' style= direct?'':'display:none')!=direct
                p.grey-text.text-darken-2(data-val='descr' style= description?'':'display:none')!=description
            .divider

          h4.red-text.text-darken-4 Предметы
          .js-subjects
            if value.subjects && Object.keys(value.subjects).length
              each sub in value.subjects
                if sub.name
                  +sub(sub.name, sub.course, sub.description)
          .js-template_sub(style="display:none")
            +sub('', '&nbsp;', '&nbsp;')


      -exist = value.show_places && value.places && Object.keys(value.places).length
      .row.tutorials-list.js-block_places(style= exist ? '' : 'display: none')
        .col.s12

          mixin location(place, location)
            .row
              .col.s12
                h5.grey-text.text-darken-4(data-val ='place')!=place
                p(data-val ='location')!=location
            .divider

          h4.red-text.text-darken-4 Место занятий
          .js-location_places
            if exist
              each l in value.places
                if l.location
                  +location(l.place, l.location)
          .js-template_places(style="display:none")
            +location()

      -exist = value.education && Object.keys(value.education).length
      .row.tutorials-list.js-block_education(style= exist ? '' : 'display: none')
        .col.s12

          mixin education(title, city, period, info, about)
            .row
              .col.s12
                h5.grey-text.text-darken-4
                  span(data-val="title")!=title
                  span.inst-ya.grey-text.text-darken-3(data-val="city" style= city?'':'display:none')!=city
                  span.inst-ya.grey-text.text-darken-3(data-val="period" style= period?'':'display:none')!=period
                i(data-val="info" style= info?'':'display:none')!=info
                p.grey-text.text-darken-2(data-val="about" style= about?'':'display:none')!=about
            .divider


          h4.red-text.text-darken-4 Образование
          .js-education
            if exist
              each e in value.education
                +education(e.name, e.city, e.period, e.info, e.about)
          .js-template_education(style="display:none")
            +education('', '&nbsp;','&nbsp;','&nbsp;','&nbsp;')

      - var about = value.about
      - var why = value.why
      - var int = value.interests
      - exist = about || why || int
      .row.bottom-info.js-block_about(style= exist ? '' : 'display: none')
        .col.s12
          h4.red-text.text-darken-4 О себе
          p.js-about_me(style= about?'':'display:none')!=about
          .js-why(style= why?'':'display:none')
            p
              b Почему я репетитор?
            p.text!=why
          .js-interests(style= int?'':'display:none')
            p
              b Интересы
            p.text!=int


      -var exist_rev = value.reviews && Object.keys(value.reviews).length
      -var exist_doc = value.documents && Object.keys(value.documents).length
      mixin review(mark, subject, course, review, name, date)
        .row
          .col.s12.m12.l4.review-rating-block
            .col.s3.m3.l12.reviews-rating_index.red-text.text-darken-4(data-val='mark')!=mark
            .col.s9.m9.l12.reviews-rating_subject(data-val='subject' style= subject?'':'display:none')!=subject
            .col.s9.m9.l12.reviews-rating_direction(data-val ='course' style= course?'':'display:none')!=course
          .col.s12.m12.l8
            p(data-val = 'review')!=review
            .reviews-date
              span.reviews-date_name(data-val = 'name')!=name
              span.reviews-date_date.grey-text.text-darken-3(data-val = 'date')!=date
        .divider

      -exist = exist_rev || exist_doc
      .row.js-review_mark#reviews(style= exist ? '' : 'display: none')
        .col.s12
          ul.js-profile_tab(data-exist= exist_rev?'tab1':(exist_doc?'tab2' :''))
            li.tab.col.s6
              a(href="#tab1").js-tab_review Отзывы
                span.js-rew_count!= exist_rev ? ' ' + Object.keys(value.reviews).length : ''
            li.tab.col.s6
              a(href="#tab2").js-tab_doc Фотографии
          .col.s12.top-padding-tabs#tab1
            .row
              .col.s12.js-reviews
                if exist_rev
                  each r in value.reviews
                    +review(r.mark, r.subject, r.course, r.review, r.name, r.date)
                else
                  p Отзывов пока нет.
              .js-template_reviews(style="display: none")
                +review('', '&nbsp;', '&nbsp;', '', '', '')
          .col.s12.top-padding-tabs#tab2
            .row
              .col.s12
                .profile-documents.js-documents.loaded-image
                  if exist_doc
                    each doc in value.documents
                      .list
                        div.loaded
                          img(src = doc.lurl data-src=doc.hurl)
                  else
                    p Нет загруженных фотографий.

    .col.l4.m4.s12.grey.lighten-4.center-align.profile-send-form.hide-on-small-and-down
      .js-send_form
        .row
          .col.s12.title Написать&nbsp;
            span.js-dative_name!=value.dative_name
        .row
          .input-field.col.s12
            //i.material-icons.prefix mode_edit
            textarea.materialize-textarea#textarea1.js-message_text
            label(for='textarea1') Введите Ваше сообщение
        .row
          .input-field.col.s12
            //i.material-icons.prefix account_circle
            input(type='text', value=value.name_pupil)#name.js-message_name
            label(for='name') Ваше имя
        .row
          .input-field.col.s12
            //i.material-icons.prefix phone
            input(type='text', value=value.phone_pupil)#phone.js-message_phone
            label(for='phone', data-error="Введите корректный телефон") Ваш телефон

        -exist = value.sub && Object.keys(value.sub).length
        .row.js-select_subject(style = (exist && exist > 1) ? '' : 'display: none')
          .input-field.col.s12.js-message_subject
            if exist
              select#sub
                each sub in value.sub
                  if sub
                    option(value = sub, selected=value.subject_pupil == sub)!= sub
            label(for='sub') Выберите предмет

        .row
          .input-field.col.s12
            button(type='submit').btn.orange-btn.waves-effect.waves-light.js-message_send Отправить
              i.material-icons.right send
      .js-success
        .col.l3.m3.s3
          i.medium.material-icons.teal-text.text-lighten-1 done
        .col.l9.m9.s9.left-align
          h5 Спасибо, Ваше сообщение успешно отправлено

