.registration-block
  .container
    .row
      .col.s12.m6.l6.sub-col
        h2 С нами репетиторы находят учеников 
        .col.s10.clearfix
          i.m_icon.icon_fiber_manual_record.left
          p Поможем создать профиль с личными данными, профессиональными достижениями, отзывами и фотографиями.
        .col.s10.clearfix
          i.m_icon.icon_fiber_manual_record.left
          p Подбираем учеников по вашим параметрам. Выбирайте удобное время занятий, район, назначайте справедливую цену. 
        .col.s10.clearfix
          i.m_icon.icon_fiber_manual_record.left
          p Бесплатно рекламируем вашу страницу. За каждого нового ученика вы платите один раз после начала занятий и получения оплаты.
      .col.s12.m6.l6!=top_form
.slider-block
  .slider.js-slider_block
    ul.slides
      li
        img(src=F('/lp/tutors_lp/slider_1.jpg'))
        .caption.center-align.js-slider_area
          .slider-container
            h5.light.grey-text.text-lighten-3 Начать работу просто.
            h5.light.grey-text.text-lighten-3 Зарегистрируйтесь, ответьте на вопросы анкеты и ждите нашего звонка. 
      li
        img(src=F('/lp/tutors_lp/slider_2.jpg'))
        .caption.center-align.js-slider_area
          .slider-container
            h5.light.grey-text.text-lighten-3 Редактируйте личные данные.
            h5.light.grey-text.text-lighten-3 Загружайте фотографии и указывайте профессиональные достижения для лучшего представления профиля.
      li
        img(src=F('/lp/tutors_lp/slider_3.jpg'))
        .caption.center-align.js-slider_area
          .slider-container
            h5.light.grey-text.text-lighten-3 Готово!
            h5.light.grey-text.text-lighten-3 После подтверждения данных нашими администраторами ученники найдут Вас на Lesson Home.
    .slider-opacity.js-slider_opacity
    .slider-arrow
      .slider-left.js-slider_left.hide-on-med-and-down 
      .slider-right.js-slider_right.hide-on-med-and-down
.info-steps
  .container
    .row
      .col.s12
        h2 Как мы работаем?
    .row
      .col.offset-l1.hide-on-med-and-down
        img(src=F('/lp/tutors_lp/step_1.png')).responsive-img
      .col.s12.l9.m12
        h5 1. Вы регистрируетесь и получаете доступ к личному кабинету.
        p Подробная анкета и хорошая фотография привлекают учеников и помогают нам точнее подбирать подходящие вам заявки. 
    .row
      .col.offset-l1.hide-on-med-and-down
        img(src=F('/lp/tutors_lp/step_2.png')).responsive-img
      .col.s12.l9.m12
        h5 2. Свяжемся с вами, чтобы уточнить данные.
        p Проведем собеседование и ответим на вопросы по сотрудничеству и работе с сайтом. После подтверждения данных мы разместим вашу страницу в разделе «<a href="/search">Наши репетиторы</a>». 
    .row
      .col.offset-l1.hide-on-med-and-down
        img(src=F('/lp/tutors_lp/step_3.png')).responsive-img
      .col.s12.l9.m12
        h5 3. Рекламируем вашу анкету и подбираем подходящие заявки.
        p Также вы можете рассматривать заявки, которые ученики вам отправляют напрямую или искать заявки самостоятельно.
    .row
      .col.offset-l1.hide-on-med-and-down
        img(src=F('/lp/tutors_lp/step_4.png')).responsive-img
      .col.s12.l9.m12
        h5 4. Начало занятий и оплата.
        p Вы созваниваетесь с учеником, договариваетесь о встрече. После первого занятия, переводите нам комиссию в 100–150% стоимости первого занятия. Если вы договорились на несколько занятий, комиссия составит 25% от их общей стоимости.
    .row
      .col.s12.center-align.hide-on-med-and-down
        p После регистрации вы получите доступ к личному кабинету.
        p Укажите подробную информацию о себе, пройдите нашу проверку знаний и мы опубликуем вашу анкету.
      .col.s12.center-align.margin-top
        a(href='/tutor_registration').btn.yellow-btn.waves-effect.waves-light Зарегистрироваться
