.registration_popup
  //if close
  a(href='../profile')
    .exit_bg
  .header.select!= header
  .progress_bar!= progress_bar
  .content!= content
  .footer
    .button_back!=button_back
    .save_notice Сохраняется...
    .button_next!=button_next

