.luck-history
  .container.valign-row
    .row
      .col.l6.m6.s12.offset-l1.offset-m1
        .history-title Lesson Home помог нам подготовиться к ЕГЭ
        .history-text и сдать на 90 баллов 
        a.btn-large.orange-btn.waves-effect.waves-light.js-popup Тоже хочу сдать ЕГЭ
.about-row        
  .container 
    .row
      .col.s12.l12.m12
        h1 Lesson Home — сервис подбора репетиторов
        p Индивидуально подбираем репетиторов под ваши задачи, требования и бюджет. <br />Помогаем подготовиться к ЕГЭ и ГИА, поступить в ВУЗ и получить новые знания. <br />Работаем только с проверенными преподавателями и экспертами.
.reliable-experts
  .container
    .row.no-margin-row
      .col.s12.m6.l6.outrer-padding
        .outer-round
        img.responsive-img(src=F('/lp/reliable_experts_01.png'))
      .col.s12.m6.l6.re-text
        h3 Мы предлагаем надежных специалистов
        p Среди наших репетиторов нет случайных людей, мы не набираем всех желающих и не публикуем непроверенные анкеты. Мы относимся к репетиторам, как к своим сотрудникам и следим за их работой: разрабатываем учебные стандарты, проверяем компетенцию преподавателей внутренними тестами и собираем отзывы учеников.
.resoult-block
  .container
    .row.no-margin-row
      .col.s12.m6.l6.re-text
        h3 Нам важен ваш результат
        p Мы подберём подходящего репетитора, учитывая ваши задачи, бюджет и уровень знаний. Занимайтесь в удобном месте и в удобное время. Если выбранный преподаватель вам не подойдёт, мы учтем ваши замечания и бесплатно подберем другого.
      .col.s12.m6.l6.right-align
        img.responsive-img(src=F('/lp/result_img.jpg'))
.ege-gia-block
  .right-img-block
  .container
    .row.no-margin-row
      .col.s12.m6.l6.re-text
        h3 Мы специализируемся на подготовке к ЕГЭ и ГИА
        p С нами работает больше 700 преподавателей вузов, педагогов и экспертов по ЕГЭ и ГИА. Треть репетиров — молодые специалисты с опытом подготовки и сдачи Единых экзаменов и Аттестации. Средний балл наших учеников — 80, а лучшие сдают экзамены на 90 и выше.
      .col.s12.m6.l6
.subjects-block
  .container
    .row.no-margin-row.title-block
      h3 Предметы
      .col.s12.l3.m6.center-align 
        ul.subject-list.list-one.left-align
          li.title Естественные
          li
            a(href='#') Астрономия
          li
            a(href='#') Биология
          li
            a(href='#') Естествознание
          li
            a(href='#') Псхология
          li
            a(href='#') Химия
      .col.s12.l3.m6.center-align
        ul.subject-list.list-two.left-align
          li.title Точные
          li
            a(href='#') Информатика
          li
            a(href='#') Математика
          li
            a(href='#') Геометрия
          li
            a(href='#') Физика
      .col.s12.l3.m6.center-align
        ul.subject-list.list-three.left-align
          li.title Гумантитарные
          li
            a(href='#') Психология
          li
            a(href='#') Философия
          li
            a(href='#') Искусствоведение
          li
            a(href='#') Риторика
      .col.s12.l3.m6.center-align
        ul.subject-list.list-four.left-align
          li.title Языки
          li
            a(href='#') Русский
          li
            a(href='#') Английский
          li
            a(href='#') Немецкий
          li
            a(href='#') Французский
          li
            a(href='#') Испанский
.what-work
  .container
    .row.no-margin-row.title-block
      h3 Как мы работаем
      .col.s12.l3.m6.center-align
        img(src=F('/lp/step_work_1.png')).responsive-img
        p Вы оставляете заявку.
      .col.s12.l3.m6.center-align
        img(src=F('/lp/step_work_2.png')).responsive-img
        p С вами свяжется администратор, уточнит подробности и подберёт репетитора.
      .col.s12.l3.m6.center-align
        img(src=F('/lp/step_work_3.png')).responsive-img
        p Вам позвонит репетитор, договоритесь о первом занятии.
      .col.s12.l3.m6.center-align
        img(src=F('/lp/step_work_4.png')).responsive-img
        p Вы занимаетесь с репетитором.
.works-facts
  .container
    .row.no-margin-row
      .col.s12.l4.m4
        .inner-block
          i.material-icons done
          span Мы подбираем репетиторов бесплатно. Вы платите только за работу преподавателя.
      .col.s12.l4.m4.white-block
        .inner-block 
          i.material-icons done
          span Выбирайте удобное время и место. Занимайтесь у репетитора или у себя дома, в коворкинге, кафе или парке. Главное, чтобы вам никто не мешал и не отвлекал.
      .col.s12.l4.m4
        .inner-block 
          i.material-icons done
          span Если репетитор не подходит, ничего страшного. Мы уточним ваши замечания и предложим другого.
.leave-the-application
  .container
    .row.title-block.no-margin-row.js-form_offset_label
      h3 Оставьте заявку
      p Выберите предмет, укажите имя и телефон.<br /> Мы свяжемся с вами, уточним подробности и подберем преподавателя.
    .row.no-margin-row      
      .application-progress.js-app_progress
        .col.s4.m4.l4.center-align
          .progress-line
          .circle-number.js-app_prev 1
        .col.s4.m4.l4.center-align
          .progress-line
          .circle-number.js-app_next 2
        .col.s4.m4.l4.center-align
          .progress-line
          .circle-number 3
      .progress-body
        .col.s12.m6.l6.offset-m3.offset-l3.js-fixed_height
          .first-step-form.js-app_first_form
            .row.no-margin-row
              .col.s9.input-field
                select.js-field_subjects(multiple=true)
                  option(value='', selected, disabled) Выберете предмет
                  each groups,gname in subject_list
                    optgroup(label!=gname)
                      each val,index in groups
                        option(value!=val, selected=value.sub_exist[val]?true:undefined)!=val
                //select.js-field_subject(multiple=true)
                //  option(value='1', disabled, selected) Выберете предмет
                //  option(value='2') Математика
                //  option(value='3') Русский язык
                //  option(value='4') Английский язык
                //  option(value='5') История
                //  option(value='6') Химия
                //  option(value='6') Физика (если Вы Стас)
                label Выберете предмет
              .col.s3.input-field.right-align
                a.btn-large.orange-btn.waves-effect.waves-light.js-app_next Далее
          .two-step-form.js-app_two_form
            .row
              .col.s12.input-field
                i.material-icons.prefix account_circle
                input#app_name.validate.js-field_name(name='name', type='text', value = value.name || '')
                label(for='app_name') Ваше имя 
              .col.s12.input-field
                i.material-icons.prefix phone
                input#app_phone.validate(name='phone', type='tel', value = value.phone || '').js-field_phone
                label(for='app_phone') Ваш телефон
              .col.s12.warning
                p.warning-p Мы не разглашаем ваши личные данные.
            .row
              .col.s12.input-field.select-no-prefix
                select.js-field_course(multiple=true)
                  option(value='', disabled, selected) Какое направление подготовки вас интересует?
                  each val, index in training_direction
                    option(value!=val, selected=value.cou_exist[val]?true:undefined)!=val
                //select.js-field_course(multiple=true)
                //  option(value='1', disabled, selected) Какое направление подготовки вас интересует?
                //  option(value='2') ЕГЭ
                //  option(value='2') ОГЭ
                //  option(value='2') Еще что то
                //  option(value='2') Опять направление
            .row
              .col.s12.input-field
                i.material-icons.prefix comment
                textarea#app-comment.materialize-textarea.js-field_comment
                label(for='app-comment') Напишите, когда вам удобно ответить на вопросы оператора, ваши пожелания к преподавателю и расписанию занятий.
            .row
              .col.s11.offset-s1
                span.red-text.js-fatal_error

            .row
              .col.s12.right-align
                a.btn-large.orange-btn.waves-effect.waves-light.js-app_next Отправить
          .tree-step-form.js-app_three_form
            .row
              .col.s12
                h2 Готово!
                h3 Заявка отправлена.
                h3 Наш оператор позвонит вам через <span class="color-green">10 – 15</span> минут.
.comments-block
  mixin reviews (index, image, name, link, rating, subject, text)
    .col.s12.m3.l3
      .col.s12.no-padding-col.comment-img
        a(href!=link, data-i!=index)
          img(src=image, style="width: 100%").responsive-img
      .col.s12.no-padding-col.comment-body
        .col.s12.valign-wrapper
          .col.s6.sub-col.valign
            .comment-name!=name
          .col.s6.sub-col.valign
            .comment-like.right-align!=rating
            .comment-subject.right-align!=subject
        .col.s12.comment-text!=text || 'Отзывов пока нет.'
        .col.s12.right-align.comment-link
          a(href!=link, data-i!=index) Далее...
  .container.js-rew
    .row.no-margin-row.title-block
      h3 Отзывы
      for rep in main_rep
        -rew = rep.num_show_rev !== undefined ? rep.reviews[rep.num_show_rev] : {};
        +reviews(rep.index, rep.avatar, rep.name.first, rep.link, rew.mark, rew.subject ? rew.subject[0] : '', rew.review)
