.luck-history
  .container
    .row
      .col.l10.m10.s12.offset-l1.offset-m1.center-align
        .history-title Индивидуальный подбор репетиторов
    .row.opacity-row
      form(method="post", action='/tutors_search', accept-charset="utf-8").js-fast_filter
        .col.s1.l1.m1 &nbsp;
        .col.s12.l10.m10.opacity-col
          .col.s12.l4.m4.input-field.slide_collapse &nbsp;
            select.js-fast_sub(multiple=true)
              option(value='', selected, disabled) Выберите предмет
              each groups,gname in subject_list
                optgroup(label!=gname)
                  each val,index in groups
                    option(value!=val, selected=value.sub_exist[val]?true:undefined)!=val
          .col.s12.l6.m6.metro-loc.slide_collapse &nbsp;
            -var metro_stations = value.metro;
            select(name='color', data-v="branch", multiple).js-fast_branch
              option(value='', selected, disabled) Выберите метро
              for v, name_li in metro_stations
                optgroup(label=v.name)
                  each s, name_st in v.stations
                    -var val = name_li+":"+name_st
                    option(value=val)!=s
                    //option(value=val, selected=metro_exist[val]?true:undefined)!=s
          .col.s12.l2.m2.input-col-link
            a.btn.blue-btn.waves-effect.waves-light.js-send_form Далее
.subjects-list-block
  .container
    .row
      .col.s12.title
        h1 Помогаем подготовиться к школе, сдать ГИА и ЕГЭ, поступить в ВУЗ
      .col.s12.subjets-list
        mixin rect(key, cl, name)
          .col.s6.l3.m3.center-align
            -v = key && value && value.sub_link && value.sub_link[key] ? value.sub_link[key] : {};
            a.sl-body(href=v.link ? v.link : "/tutors_search" )
              .sl-content
                .sl-icons
                  i(class=cl)
                .sl-text!=name ? name : v.text ? v.text : 'Другие предметы'

        +rect('математика', 'icon-subjec1')
        +rect('физика', 'icon-subjec2')
        +rect('русский язык', 'icon-subjec3')
        +rect('английский язык', 'icon-subjec4')
        +rect('биология', 'icon-subjec5')
        +rect('химия', 'icon-subjec6')
        +rect('младшая школа', 'icon-subjec7', 'Начальные классы')
        +rect(null, 'icon-subjec8')

    .row.text-one
      .col.l7.m7.s12
        p Вы хотите, чтобы у вашего ребенока были хорошие оценки, он выигрывал олимпиады, сдавал ЕГЭ и поступил в выбранный ВУЗ? 
        p Помогая в учебе сейчас, вы определяете будущее вашего ребенка
        p Индивидуальные занятия с педагогом &mdash; лучший способ в достижении цели.
        .color-line
      .col.l5.m5.s12.right-align
        .round-border
          p.left-align Выбирайте эффективные решения.
          p.left-align Доверьте выбор нашим специалистам.
          .center-align
            a.btn-large.yellow-btn.waves-effect.waves-light.js-attach Оформить заявку
.facts-about-us
  .container
    .row
      .col.s12.l4.center-align
        i.icon-strongside1
        .fau-text Подбираем репетиторов бесплатно и в день обращения.
      .col.s12.l4.center-align
        i.icon-strongside2
        .fau-text Работаем только с проверенными преподавателями.
      .col.s12.l4.center-align
        i.icon-strongside3
        .fau-text Учтем ваши задачи, бюджет и уровень знаний.
.our_tutors
  .container
    .row.no-margin-row
      .col.s12.title
        h2 Наши репетиторы
      .col.m3.l2.our-owl.center-align.hide-on-small-only
        i.icon-owl
      .col.s12.m9.l10
        p Каждого репетитора знаем лично, развиваем долгосрочные отношения как со своими сотрудниками: проверяем компетенцию преподавателей, ведем отчеты по работе.
        p.no-margin-p.hide-on-small-only С нами уже больше 700 преподавателей и экспертов по ЕГЭ и ГИА. Треть репетиров — молодые специалисты. Знают что такое ЕГЭ на собственном опыте, но уже имеют опыт репетиторства и подготовки к сдаче Единых экзаменов и Аттестации. Средний балл наших учеников — 80, а лучшие сдают экзамены на 90 и выше.
        .link <a href="/tutors_search">Посмотреть отзывы, достижения и фотографии репетиторов ></a>
.what-work
  .container
    .row
      .col.s12.title
        h2 Как мы работаем
      .ww-content
        .col.s12.m4.l4
          .ww-icons
            i.icon-howwework1
          .ww-text Оставьте заявку
        .col.s12.m4.l4
          .ww-icons
            i.icon-howwework2
          .ww-text С вами свяжется администратор, уточнит подробности
        .col.s12.m4.l4
          .ww-icons
            i.icon-howwework3
          .ww-text Вы знакомитесь с репетитором и занимаетесь
.leave-application
  .container
    .row.no-margin-row
      .col.s12.title
        h2 Оставьте заявку
      .la-content
        .col.s12.m6.l6!=short_form
      .col.s12.m6.l5.offset-l1
          ul.form-right-text
            li.clearfix
              i.material-icons.left done
              span Платите только за работу преподавателя.
            li.clearfix
              i.material-icons.left done
              span Занимаетесь у репетитора или у себя дома.
            li.clearfix.before-line
              i.material-icons.left done
              span Если преподаватель вам не подошел, мы учтем замечания и подберем другого.
            li.cleatfix
              i.material-icons.white-text.left done
              .color-line

.comments-block
  mixin reviews (index, image, name, link, name_r, date_r, rating, subject, text)
    .col.s12.m6.l3.comment-cell
      .col.s12.no-padding-col.comment-img.center-align
        a(href!=link, data-i!=index).comment-img-link
          img(src=image).responsive-img
          .comment-tutor-name
            .comment-img-layer
              .comment-img-name!=name
              .comment-img-subject!=subject
      .col.s12.no-padding-col.comment-body
        .col.s12.comment-text!=text || 'Отзывов пока нет.'
        .col.s12.right-align
          .rew_name!=name_r
          //.rew_name!=date_r
  .container.js-rew
    .row.no-margin-row.title
      .col.s12
        h2 Отзывы о преподавателях 
      .col.s10.cb-body.js-slick_block.clearfix.offset-s1.slick-main
        for rep in main_rep
          -rew = rep.num_show_rev !== undefined ? rep.reviews[rep.num_show_rev] : {};
          +reviews(rep.index, rep.avatar, rep.name.first, rep.link, rew.name, rew.date, rew.mark, rew.subject ? rew.subject[0] : '', rew.review)
