mixin item (progress, content, href, selector,isCurrent)
  - href = href || '';
  if href
    a(href=href class = selector)
      if progress
        if isCurrent
          .progress.block.current
            .value=content
        else
          .progress.block
            .value=content
      else
        if isCurrent
          .block.current
            .value=content
        else
          .block
            .value=content
  else
    .panel(class = selector)
      if progress
        if isCurrent
          .progress.block.current
            .value=content
        else
          .progress.block
            .value=content
      else
        if isCurrent
          .block.current
           .value=content
        else
          .block
            .value=content
            //- --------------------------------------------------------
//width: 52px
//padding: 25px
- var widthBlue = 56 + 2*25
- console.log (progress)
.container
  .progress_box
    -url = 'first_step'
    +item(progress>1, 1, 'first_step', 'one',1==current_progress)
    -if(progress>1) url = 'second_step'; else url = false;
    +item(progress>2, 2, url,"", 2==current_progress)
    -if(progress>2) url = 'third_step'; else url = false;
    +item(progress>3, 3, url,"", 3==current_progress)
    -if(progress>3) url = 'fourth_step'; else url = false;
    +item(progress>4, 4, url, '',4==current_progress)
    -if(progress>4) url = 'fifth_step'; else url = false;
    +item(progress>5, 5, url, 'fourth',5==current_progress)
    - if(progress>4)progress = 4
    - widthBlue = widthBlue*(progress-1)
    .blue_line(style='width: #{widthBlue}px')
  .gray_line
