- selector = selector || "";

if selector == 'header'
  .triangle_box(class=selector)
    .triangle
.popup
  .close_box
    .close
  .name!=name
  .tel_number!=tel_number
  .comments!=comments
  .button_panel_choose
    .pupil!=pupil
    .tutor!=tutor
  .order_call!=order_call

if selector == 'footer'
  .triangle_box(class=selector)
    .triangle