

.js-block_work
  .js-item!=work
.js-add_button Добавить место работы
//.button_block
  .js-add_button!= add_button
.line_box
  .line!=line
.experience_tutoring!=experience_tutoring
.err
  .js-out_err_experience
.extra_info!=extra_info
