mixin info_block(block_class, header, value)
  .container
    label(class=block_class)
      .value.g-standardField!= value
      .m-title.g-edit-smallTitle!= header

//- -------------------------------------------------
.block
  +info_block('place_of_work', 'Место работы :', place_of_work)
  +info_block('post', 'Должность :', post)

  .button_block
    .add_button!= add_button

  .line!=line

  +info_block('experience_tutoring', 'Опыт репетиторства :', experience_tutoring)
  +info_block('number_of_students', 'Количество учеников :', number_of_students)
  +info_block('extra_info', 'Доп.информация/<br>награды :', extra_info)

  .button_block
    .save_button!= save_button

//-.hint!= hint


