

.block_work
  each val in work
    .js-clone_el
      .js-place_of_work!=val.place_of_work
      .js-post!=val.post
.button_block
  .js-add_button!= add_button
.line_box
  .line!=line
.experience_tutoring!=experience_tutoring
.err
  .js-out_err_experience
.extra_info!=extra_info
//.hint!= hint
