- content = content || "";
- opacity_class = ''
if opacity_header == true
  - opacity_class = 'header_opacity'
header(class=opacity_class)!=header
if single_profile
  content.js-content.hidden!=content
  content.js-profile!=profile
else
  content.js-content!=content
  content.js-profile.hidden!=profile
footer!=footer
.req_call!=req_call
.bid!=bid_popup
.attached!=bottom_block_attached
