- content = content || "";
header!=header
if single_profile
  content.js-content.hidden!=content
  content.js-profile!=profile
else
  content.js-content!=content
  content.js-profile.hidden!=profile
footer!=footer
.req_call!=req_call

.attached!=bottom_block_attached
#req_fast_send.modal.send-your-request.req-fast-form
  .modal-content
    .row
      .col.s12
        h4.center-align Оформление заявки 
    .row
      .col.input-field.s12
        i.material-icons.prefix person_outline
        input.validate#req_name(type='text')
        label(for="req_name") Имя
    .row
      .col.input-field.s12
        i.material-icons.prefix phone
        input.validate#req_phone(type='tel')
        label(for="req_phone") Телефон
    .row
      .col.s12.input-field
        i.material-icons.prefix subject 
        select(multiple).js-m_select
          option(value="" disabled selected) Выберите предмет
          optgroup(label="Список предметов")
            option(value="1") Математика
            option(value="2") Русский язык
            option(value="3") Демонология
            option(value="4") Прикладная черная магия
            option(value="5") Ритуалы и жертвоприношения
  .modal-footer
    e(data-target="req_more_send").btn.orange-btn.waves-effect.js-demo_next.waves-light <i class="material-icons right">send</i> Отправить
#req_more_send.modal.send-your-request.req-more-form.modal-action.modal-close
  .emulate-shadow.modal-action.modal-close
  .inner-modal
    .modal-content
      .row
        .col.s12
          h4.center-align Оформление заявки 
      .row
        .col.s12
          h5 Контактная информация:
        .col.input-field.s12
          i.material-icons.prefix person_outline
          input.validate#req_name(type='text')
          label(for="req_name") Имя
      .row
        .col.input-field.s12
          i.material-icons.prefix phone
          input.validate#req_phone(type='tel')
          label(for="req_phone") Телефон
      .row
        .col.s12
          h5 Предмет:
        .col.s12.input-field
          i.material-icons.prefix subject 
          select(multiple).js-m_select
            option(value="" disabled selected) Выберите предмет
            optgroup(label="Список предметов")
              option(value="1") Математика
              option(value="2") Русский язык
              option(value="3") Демонология
              option(value="4") Прикладная черная магия
              option(value="5") Ритуалы и жертвоприношения
      .row
        .col.s12
          h5 Информация о занятиях:
        .col.s12.input-field
          i.material-icons.prefix location_on 
          select(multiple).js-m_select
            option(value="" disabled selected) Место
            optgroup(label="Место")
              option(value="1") Москва
              option(value="2") Санктуарий
              option(value="3") Астрал
              option(value="4") Черная пагода
              option(value="5") Тропа мертвых
      .row
        .col.s12.input-field
          i.material-icons.prefix account_balance_wallet 
          select(multiple).js-m_select
            option(value="" disabled selected) Цена за 60 мин.
            optgroup(label="Цена")
              option(value="1") до 700 руб. 
              option(value="2") от 700 руб. до 1500 руб.
              option(value="3") от 1500 руб.
      .row
        .col.s12
          h5 Пожелания к репетитору:
        .col.s12.input-field
          i.material-icons.prefix school 
          select(multiple).js-m_select
            option(value="" disabled selected) Статус репетитора
            optgroup(label="Статус")
              option(value="1") Студент 
              option(value="2") Преподаватель школы
              option(value="3") Преподаватель ВУЗа
              option(value="3") Частный преподаватель
              option(value="3") Носитель языка
      .row
        .col.s12.col-title
          i.material-icons.prefix assignment_ind
          span Пол репетитора
        .col.s12.col-radio
          input(name="req_sex" type="radio" id="req_s1" checked).with-gap
          label(for='req_s1') Не важно
          input(name="req_sex" type="radio" id="req_s2").with-gap
          label(for='req_s2') Мужской
          input(name="req_sex" type="radio" id="req_s3").with-gap
          label(for='req_s3') Женский
    .modal-footer
      a(href='#!').btn.orange-btn.waves-effect.waves-light <i class="material-icons right">send</i> Отправить
