.place_price_box
  .title!=title
  .block_45
    .min_45!=min_45
    .price_45!=price_45
  .block_60
    .min_60!=min_60
    .price_60!=price_60
  .block_90
    .min_90!=min_90
    .price_90!=price_90
  .block_120
    .min_120!=min_120
    .price_120!=price_120