.triangle
.line_vertical!=line_vertical
.left_block.select
  .title Цена :
    .line_horizon!=line_horizon
  .price_from
    .text от
    .from!=price_from + ' р.'
  .price_till
    .text до
    .till!=price_till + ' р.'
.right_block!=subject_data