.line_vertical!=line_vertical
.left_block.select
    .outside_work_price!='Выезд<br/>'+outside_work_price
    .home_price!='У себя<br/>'+home_price
    .distance_work_price!='Удалённо<br/>'+distance_work_price
.right_block!=subject_data