.center_block
  .header.select!=header
  .block.toggle
    .title.select Ваш друг :
    .value
      .pupil_toggle!= pupil_toggle
      .tutor_toggle!= tutor_toggle
    .friend_name!=friend_name
    .friend_email!=friend_email
    .your_name!=your_name
    .invite_button!=invite_button
