
mixin item (text)
  .item
    .icon
    .text!=text

.js-start_block.select
  .left
    .illustration
  .right
    .title Помощь
    .items
    .text В этом разделе Вы можете найти ответ на интересующий Вас вопрос. Выбрав одну из двух расположенных ниже кнопок, Вы попадёте в нужный раздел. Нажмите кнопку "Ищу репетитора", если у вас возникли вопросы по поиску репетитора, по оформлению заявки и при любых других вопросах, связанных с поиском репетитора. Нажмите кнопку "Я репетитор", чтобы просмотреть вопросы, связанные с условиями сотрудничества с репетиторами, помощью с регистрацией и др.
  .js-start_block_buttons
    .js-user_tutor!=user_tutor
    .js-user_pupil!=user_pupil
.js-support_block_tutor!=support_block_tutor
.js-support_block_pupil!=support_block_pupil
