//-.bg_block
.top_block
  a.icon(href='https://ok.ru/lesson.home' target='_blank' rel='ok')
    .classmates
  a.icon(href='https://vk.com/lesson_home' target='_blank' rel='vk')
    .vk
  a.icon(href='https://www.facebook.com/lessonhome.ru' target='_blank' rel='fb')
    .fb
.bottom_block
  .left_block
    .search!=search
    .bids!=bids
    .help!=help
  .center_block.unselect
    .post_block
      .post.select support@lessonhome.ru
    .phone_block
      .back_call!=back_call
.right_block
  .logo_block
    .logo!= logo
  .address_block
    a(href='https://maps.yandex.ru/-/CVgrfA~9' target="_blank").icon
    .address.select!= '121087, Россия, г. Москва<br/>Береговой проезд, дом 2, строение 3'
  .company_name.select &copy; 2014 - 2016 Lessonhome.ru
