.top_block
  .icon
    .classmates
  .icon
    .vk
  .icon
    .fb
  .icon
    .google
  .icon
    .twitter
.bottom_block
  .left_block
    .search!=search
    .bids!=bids
    .help!=help
  .center_block.unselect
    .post_block
      .post.select support@lessonhome.ru
    .phone_block
      .back_call!=back_call
.right_block
  .logo_block
    .logo!= logo
    .company_name.select &copy 2014 Lessonhome.ru
  .address_block
    .icon
    .address.select!= '121087, Россия, г. Москва,<br>Береговой проезд 2с3'