.content
  h1.header Оформление заявки
  .step
    .icon.contacts
    .contents
      h2.title Контактная информация
      .form!=first
  .step
    .icon.subject
    .contents
      h2.title Какой предмет вас интересует
      .form!=subject
  .step
    .icon.info
    .contents
      h2.title Информация о занятиях
      .form!=second
  .step
    .icon.tutor
    .contents
      h2.title Пожелания к репетитору
      .form!=third
  .btn_send!=btn_send