mixin info_block (block_class, title, value)
  div(class=block_class)
    .value.g-standardField!= value
    .title.g-font-smallTitle!= title

.header.g-font-middleTitle Уточните с какими учениками Вы хотите заниматься

.hint!= hint

.select_block
  +info_block('sex', 'Пол:', sex)
  +info_block('category', 'Класс:', category)
  +info_block('status', 'Статус:', status)

  .button_block
    .button!= button