if popup
  .js-background_block
  .js-popup!=popup
.advanced_filter
  .tags
    .tag
      .js-tsubject
      .close
    .tag
      .js-tcourse
      .close
    .tag
      .js-tprice
      .close
    .tag
      .js-tplace_pupil
      .close
    .tag
      .js-tplace_tutor
      .close
    .tag
      .js-tplace_remote
      .close
    .tag
      .js-tstatus_student
      .close
    .tag
      .js-tstatus_school_teacher
      .close
    .tag
      .js-tstatus_university_teacher
      .close
    .tag
      .js-tstatus_private_teacher
      .close
    .tag
      .js-tstatus_native_speaker
      .close
    .tag
      .js-texperience_little_experience
      .close
    .tag
      .js-texperience_big_experience
      .close
    .tag
      .js-texperience_bigger_experience
      .close
    .tag
      .js-tgroup_lessons
      .close
    .tag
      .js-tgender
      .close
    .tag
      .js-twith_reviews
      .close
    .tag 
      .js-twith_verification
      .close
    .tag
      .js-twith_photo
      .close


  //.js-reset_all_filters
    .icon
    .title сбросить все фильтры
  .filter!=advanced_filter
.result_filter
  .sort!=sort
  //.js-profiles_on_page
    .title Анкет на странице :
    .item.active.js-profiles_20
      .val 20
    .item.js-profiles_40
      .val 40
    .item.js-profiles_60
      .val 60
    .item.js-profiles_80
      .val 80

  .js-choose_tutors_block.fixed
    .choose_tutors_content
      .section
        .box_icon
          .icon
        .text Выбранные репетиторы
        .js-choose_tutors_num!= '(' + choose_tutors_num + ')'
        .clear_choose_tutors очистить
      .choose_tutors
        each value in choose_tutors
          .choose_tutor!= value
      .add_tutors_hint
        .icon
        .text!= 'Можно добавить<br>ещё репетиторов'
      .issue_bid
        .issue_bid_button!= issue_bid_button
        .text!= 'с прикреплёнными<br>репетиторами'
  .js-tutors_result
  //  each value in tutors_result
      .js-tutor_result!= value
  .js-tutor_test!=tutor_test
