if popup
  .background_block
  .popup_block
    .menu_bar
      each value in popup.items
        .item!= value
      .close_box
        .close_icon
    .line_top!=line_top
    .popup_content
      .popup!=popup.content
.advanced_filter!=advanced_filter
.result_filter
  .sort!=sort
  .js-choose_tutors_block.fixed
    .choose_tutors_content
      .section
        .text Выбранные репетиторы
      .choose_tutors
        each value in choose_tutors
          .choose_tutor!= value
      .add_tutors_hint
        .icon
        .text!= 'Можно добавить<br>ещё репетиторов'
      .issue_bid
        .issue_bid_button!= issue_bid_button
        .text!= 'с прикреплёнными<br>репетиторами'
  .tutors_result
    each value in tutors_result
      .tutor_result!= value