.thanks_block(style = "background: url(#{F('main/filter_top.jpg')})")
  .icon(style="width: #{thanks_icon.width}px; height: #{thanks_icon.height}px; background: url(#{thanks_icon.src});")
  .progress
  .text
    .t1 Спасибо!
    .t2 Ваша заявка отправлена.
    .t3 В ближайшее время оператор свяжется с Вами.
    .t4!= 'Если у вас есть вопросы, то вы можете посмотреть раздел <a>помощи</a> или<br>отправить нам <a>сообщение</a>.'
