//
   Created by lh on 17.11.15.

.block
   .title Страна :
   .value.js-country!=country
   .err
      .js-out_err_country

.block
   .title Город :
   .value.js-city!=city
   .err
      .js-out_err_city

//.block
//   .title Вуз :
//   .value.js-university!=university
//   .err
//      .js-out_err_university

.block
   .title Факультет :
   .value.js-faculty!=faculty
   .err
      .js-out_err_faculty

.block
   .title Кафедра :
   .value.js-chair!=chair
   .err
      .js-out_err_chair

.block
   .title Статус :
   .value.js-qualification!=qualification
   .err
      .js-out_err_status

.block
   .title Период :
   .period!=period_education
   .err
      .js-out_err_period
.block
   .title Комментарий :
   .value.js-comment!=comment