mixin item(selector,title,answer)
  .item_wrap
    .item(class=selector)
      .js-show
        .icon
        .title!=title
      .hidden
        .answer!=answer


.title Частые вопросы и помощь
.ask_form
  .form!=question
  .button!=ask_button
.sections
  .js-general.active Общие
  .js-students Ученикам
  .js-tutors Репетиторам
.js-questions
  +item('general', 'Что такое Lesson Home?', 'Lesson Home - это информационный онлайн сервис по обоюдному поиску учеников и репетиторов - сайт  <a href="/">www.lessonhome.ru</a>')
  +item('general', 'Взымается ли плата за регистрацию сайте <a href="/">www.lessonhome.ru</a>?', 'Регистрация на нашем сайте <a href="/">www.lessonhome.ru</a> является абсолютно бесплатной для учеников и репетиторов.')
  .item_wrap
    .item.general
      .js-show
        .icon
        .title Как связаться с сотрудниками Lesson Home?
      .hidden
        .answer Вы можете связаться с сотрудниками  Lesson Home следующими способами:
          div - <a href="/fast_bid/first_step">Оставить заявку</a> на подбор ученика на сайте <a href="/">www.lessonhome.ru</a>
          div - Позвонить по номеру  +7 (495) 940-93-39 и наш оператор ответит на Ваш звонок
          div - Воспользоваться услугой <a href="/main_tutor_callback">«заказать звонок»</a> и наши сотрудники сами свяжутся с Вами.
          div - Также Вы можете отправить нам письмо на e-mail по адресу support@lessonhome.ru.
  +item('students', 'Где будут проходить мои занятия?', 'Ученик сам решает, где ему будет удобно проводить обучение, у себя дома или у преподавателя. Некоторые ученики предпочитают обучение на открытом воздухе или в общественных местах, просто укажите об этом в своей заявке и мы подберем для Вас подходящий вариант.')
  +item('tutors', 'Что такое «рейтинг»?', '«Рейтинг» - это Ваш статус благонадежности на нашем ресурсе. Чем подробнее Вы заполнили профиль в личном кабинете, чем больше учеников Вы взяли и получили положительных отзывов о работе, тем выше Ваш рейтинг, а значит, большее количество учеников будет заинтересовано в выборе Вашей кандидатуры репетитора.')
