mixin item(selector,title,answer)
  .item_wrap
    .item(class=selector)
      .js-show
        .icon
        .title!=title
      .hidden
        .answer!=answer


//-.title Частые вопросы и помощь
//-.ask_form
  .form!=question
  .button!=ask_button
if selector == "tutor_profile" || selector == 'tutor_support'
  .support(class=selector)
    .js-sections
      .js-general.active Общие
      .js-registration Регистрация
      .js-profile Личный кабинет
    .js-questions
      +item('general', 'Что такое Lesson Home?', 'Lesson Home - это информационный онлайн сервис по обоюдному поиску учеников и репетиторов - сайт  <a href="/">www.lessonhome.ru</a>')
      +item('general', 'Взымается ли плата за регистрацию сайте <a href="/">www.lessonhome.ru</a>?', 'Регистрация на нашем сайте <a href="/">www.lessonhome.ru</a> является абсолютно бесплатной для учеников и репетиторов.')
      .item_wrap
        .item.general
          .js-show
            .icon
            .title Как связаться с сотрудниками Lesson Home?
          .hidden
            .answer Вы можете связаться с сотрудниками  Lesson Home следующими способами:
              //-div - <a href="/fast_bid/first_step">Оставить заявку</a> на подбор ученика на сайте <a href="/">www.lessonhome.ru</a>
              div - Позвонить по номеру  +7 (495) 177-14-78 и наш оператор ответит на Ваш звонок
              div - Воспользоваться услугой <a href="/main_tutor_callback">«заказать звонок»</a> и наши сотрудники сами свяжутся с Вами.
              div - Также Вы можете отправить нам письмо на e-mail по адресу lessonhome@yandex.ru.
      +item('profile', 'Что такое личный кабинет?', 'Личный кабинет - это часть сайта, в которую можно попасть, нажав в верней части сайта кнопку «Вход». В личном кабинете вы можете редактировать свой профиль, просматривать список заявок, которые оставили ученики на сайте, оплачивать заявки и т.д. Для навигации Вы можете использовать левое меню')
      +item('registration', 'Как зарегистрироваться на сайте?', 'Для того, чтобы зарегистрироваться Вам нужно в верхнем меню сайта нажать кнопку «Регистрация». На открывшейся страничке нужно заполнить два поля: телефон или email адрес и Ваш пароль, который Вы будете использовать в дальнейшем для входа в личный кабинет. После этого нужно нажать кнопку «Создать аккаунт».')
      +item('registration', 'Нужно ли заполнять все поля на шагах регистрации?', 'Для того, чтобы максимально расположить ученика к вашей анкете мы дали возможность указывать Вам практически всю информацию о Вас, начиная от фамилии и имени, заканчивая интересами и увлечениями. Есть обязательные поля, такие как имя, фамилия, отчество, преподаваемый предмет и т.д. Также есть поля, которые необязательны к заполнению. Тем не менее, чем подробнее Вы заполните свой профиль, тем ученикам будет Вас проще найти и проще составить представление о Вас. Также это влияет на Ваш рейтинг.')
      +item('registration', 'Что такое «рейтинг»?', '«Рейтинг» - это Ваш статус благонадежности на нашем ресурсе. Чем подробнее Вы заполнили профиль в личном кабинете, чем больше учеников Вы взяли и получили положительных отзывов о работе, тем выше Ваш рейтинг, а значит, большее количество учеников будет заинтересовано в выборе Вашей кандидатуры репетитора.')
if selector == 'pupil'
  .support(class=selector)
    .sections
      .js-general.active Общие
      .js-find_tutor Подбор репетитора
      .js-lessons Занятия
    .js-questions
      +item('general', 'Что такое Lesson Home?', 'Lesson Home - это информационный онлайн сервис по обоюдному поиску учеников и репетиторов - сайт  <a href="/">www.lessonhome.ru</a>')
      +item('general', 'Взимается ли плата за регистрацию сайте <a href="/">www.lessonhome.ru</a>?', 'Регистрация на нашем сайте <a href="/">www.lessonhome.ru</a> является абсолютно бесплатной для учеников и репетиторов.')
      .item_wrap
        .item.general
          .js-show
            .icon
            .title Как связаться с сотрудниками Lesson Home?
          .hidden
            .answer Вы можете связаться с сотрудниками  Lesson Home следующими способами:
              //-div - <a href="/fast_bid/first_step">Оставить заявку</a> на подбор ученика на сайте <a href="/">www.lessonhome.ru</a>
              div - Позвонить по номеру  +7 (495) 940-93-39 и наш оператор ответит на Ваш звонок
              div - Воспользоваться услугой <a href="/main_tutor_callback">«заказать звонок»</a> и наши сотрудники сами свяжутся с Вами.
              div - Также Вы можете отправить нам письмо на e-mail по адресу lessonhome@yandex.ru.

      .item_wrap
        .item.find_tutor
          .js-show
            .icon
            .title Как мне найти репетитора?
          .hidden
            .answer На нашем сайте есть 3 способа найти репетитора :
              //div - <a href="/fast_bid/first_step">Оставить заявку</a> на подбор репетитора
              div!= "- <a href='#'>"  + btn_attach + "</a> на подбор репетитора"
              div - Самостоятельно выбрать репетитора из нашей базы
              div - Позвонить по номеру  +7 (495) 940-93-39 и наш оператор поможет Вам подобрать репетитора
              div - Воспользоваться услугой <a href="/main_tutor_callback">«заказать звонок»</a> и наши сотрудники сами свяжутся с Вами.

      +item('find_tutor', 'Что делать, если репетитор мне не подошёл?', 'Если репетитор Вам не подошёл, мы подберём Вам другого репетитора. Для этого Вам нужно лишь сообщить нам, что Вы хотели бы поменять преподавателя')
      +item('lessons', 'Когда я смогу начать заниматься с репетитором?', 'После обработки заявки на подбор репетитора, репетитор свяжется с Вами и Вы сможете договориться о дате и времени первого занятия')
      +item('lessons', 'Где будут проходить мои занятия?', 'Ученик сам решает, где ему будет удобно проводить обучение, у себя дома или у преподавателя. Некоторые ученики предпочитают обучение на открытом воздухе или в общественных местах, просто укажите об этом в своей заявке и мы подберем для Вас подходящий вариант.')

