mixin info_block(block_class, header, value)
  div(class=block_class)
    .value.g-standardField!= value
    .m-title.g-edit-smallTitle= header

.block
  .location
    .m-title.g-edit-smallTitle Место :
    .value
      .tutor!= tutor
      .student!= student
      .web!= web

  +info_block('country', 'Страна :', country)
  +info_block('city', 'Город :', city)
  +info_block('district', 'Район :', district)
  +info_block('nearest_metro', 'Ближайшее метро :', nearest_metro)
  +info_block('street', 'Улица :', street)

  .house_block
    .value
      .house!= house
      .building
        .value!= building
        .m-title.g-edit-smallTitle Строение :
    .m-title.g-edit-smallTitle Дом :

  +info_block('flat', 'Кв. :', flat)

  .button_block
    .add_button!= add_button

  .button_block
    .save_button!= save_button



