// takes variables:
  //{title, value}
// type variables
  // title  - string
  // value - module
//respons
  // value - content
  // title - class sass

mixin section_box (title, value)
  div(class=title + '_box')
    .icon_box
      .icon
    div(class=title)!=value
//----------------------------content--------------------------------//
if popup
  .popup_wrap
    .content!= popup

.info_data
  .person_box
    .photo!= photo
    .all_rating
    .progress!= progress
  .personal_data
    .name!= name
    != personal_data
.separate_box!=line_con
+section_box ('contacts', contacts)
.separate_box!=line_edu
+section_box ('education', education)
.separate_box!=line_pri
+section_box ('private', private)
.separate_box!=line_med
+section_box ('media', media)
