.logo
  !=logo
.left_box.unselect
  if icons
    .icons!=icons
  .top_menu!=top_menu
.right_box
  .back_call!=back_call
  if $req.user.registered
    .tutor_icon
      .icon!= tutor_icon
      .hidden
        .box_menu
          .triangle_box
            .triangle
          .menu
            each val in tutor_icon_list
              != val
  else
    .button_in_out!=button_in_out