.logo
  !=logo
.right_box
  .back_call!=back_call
  .button_in_out!=button_in_out
.left_box
  if icons
    .icons!=icons
    .top_menu(style="margin-left:-10px;")!= top_menu
   else
    .top_menu!=top_menu
//if icons
     .icons!=icons
     .top_menu(style="margin-left:-10px;")!=top_menu
//else
  .top_menu!=top_menu
