.background_earth
.background_note
.background_pc
.background_pencils
.background_ruler
.background_vial
.title.select= title
.search
  .filters
    .subject!=list_subject
    .line
    .js-tutor_status
      .top.js-tutor_status_top
        .title Статус репетитора
        .icon
      .bottom.js-tutor_status_bottom
        each val in tutor_status
          .item!=val
    .line
    .js-place
      .top.js-place_top
        .title Место
        .icon
      .bottom.js-place_bottom
        each val in place
          .item!=val
    .line
    .price
      .top.js-price_top
        .from
          .t1 от
          .val 500
          .t2 руб.
        .to
          .t1 до
          .val 10000
          .t2 руб.
      .bottom.js-price_bottom
        each val in price
          .item!=val
  a(href='/second_step')
    .button
.issue_bid_button_wrap
  .button!=issue_bid_button