.title= title
.select_block
  .list_filter!=list_subject
  .choose_block
    .choose_button!=choose_subject
.button_panel
  .button_back_block!=button_back
  .button_issue_block!=button_issue
  .button_onward_block!=button_onward
