.section
  .course
    .icon_box
      .icon_right
      .icon_down
    .title Курс
  .show_hidden
    .list_course!=list_course
    .add_course_block
      .add_course!=add_course
// TODO: down section same module in lesson_time, do one state for they later
.section
  .price_of_lesson
    .icon_box
      .icon_right
      .icon_down
    .title Цена одного занятия
  .show_hidden
    .price_of_lesson_block!=price_of_lesson
.section
  .pupil
    .icon_box
      .icon_right
      .icon_down
    .title Категория ученика
  .show_hidden
    .list_course!=list_pupil
    .add_course_block
      .add_course!=add_pupil
.section
  .timetable
    .icon_box
      .icon_right
      .icon_down
    .title Расписание
  .show_hidden
    .calendar!=calendar
.section
  .time_one_lesson
    .icon_box
      .icon_right
      .icon_down
    .title Время одного занятия
  .show_hidden
    .lesson_time_block!=time_spend_lesson
.section
  .sex
    .icon_box
      .icon_right
      .icon_down
    .title Пол
  .show_hidden
    .sex_button
      .female!=female
      .male!=male
