mixin field (selector, value)
  .value(class=selector)!= value
/////////////
if address_popup
  .background
    .address_box
      .title_box
        .title Укажите адрес
        a(href = '/tutor/profile/second_step')
          .close_bg

      .address_popup!=address_popup
+field ('country', country)
.js-err_country
+field ('city', city)
.js-err_city
.title_box
  .title Адрес :
  a(href = '/tutor/profile/second_step_address') Укажите подробный адресс
.line_box
  .line!= line

.input.mobile_phone!=mobile_phone
.input.extra_phone!=extra_phone
.input.post!=post
.input.skype!=skype
.input.site!=site
