mixin info_block(block_class, title, value)
  label(class=block_class)
    .value.g-standardField!= value
    .m-title.g-edit-smallTitle=title

//- -----------------------------------------------------------

.block
  +info_block('subject', 'Предмет :', subject)
  +info_block('sections', 'Разделы :', sections)
  +info_block('destinations', 'Направления :', destinations)
  +info_block('category_students', 'Категории учеников :', category_students)

  .line
    +info_block('location', 'Место :', location)
    +info_block('price', 'Цена :', price )
    .add_location!= add_location

  label.group_lessons
    .value
      .pupils_number!= pupils_number
      .bet!= bet
    .m-title.g-edit-smallTitle Групповые занятия :



  +info_block('comments', 'Комментарии :', comments)

  .button_block
    .add_button!= add_button

  .button_block
    .save_button!= save_button

  //- --------------------------------------------------------







