

//<script type='text/javascript' src='https://paymaster.ru/ru-RU/widget/Basic/1?LMI_MERCHANT_ID=263bd7cb-0fa3-43c6-aa72-e209c0fc4649&LMI_PAYMENT_AMOUNT=2000&LMI_PAYMENT_DESC=%u041E%u043F%u043B%u0430%u0442%u0430%20%u0437%u0430%u044F%u0432%u043A%u0438&LMI_CURRENCY=RUB'></script>

h2 На вашем счете:
.summ_price
  span.summ 1019.50
  span &nbsp;руб.
.form
  .summ_send!=send_input
  .btn_send!=send_btn
h2 Транзакции:
mixin trans(date, type, value, residue)
  tr
    td
      .time(style ="display: none")!=date
      p.local_date(style ="visibility: hidden") 00.00.0000
      i.local_time(style ="visibility: hidden") 00:00
    case type
      when 'fill'
        td.up Пополнение
      when 'pay'
        td.down Списание
      default
        td Прочие операции
    td #{value} р.
    td #{residue} р.

table.js-transations
  tbody
    tr
      th Дата / Время
      th Операция
      th Сумма
      th Остаток
    for t in transactions
      +trans(t.date, t.type, t.value, t.residue)