//
   Created by lh on 10.02.16.
p!=new Date(value.time).toLocaleString()
p!=value.name
p!=value.phone
p!=value.email
if value.subjects
   ul
      each sub, i in value.subjects
         li!=sub
each v, index in value.link_detail
   a(href!=index, title="Назначить на заявку", data-id!=v.account).js-make_super
      img(src="#{v.photos[0].hurl}", width=100, style="margin-left: 10px")
