//- if inactive selector must be "inactive"

- selector = selector || "";
- activities_str = selector.indexOf('inactive')
if activities_str != -1
  a.g-hopacity(href=href class=selector)
    .button
      .js-text!=text
else
  a.g-hopacity.active(href=href class=selector)
    .button
      .js-text!=text


