//- if inactive selector must be "inactive"

- selector = selector || "";

if selector == 'inactive'
  a(href=href class=selector)
    .button
      .text!=text
else
  a.active(href=href class=selector)
    .button
      .text!=text


