

.js-content
  .js-delete_tutor_button!=delete_tutor_button
  .text Коментарий о репетиторе
  .js-comment!=comment
  .js-save_comment!=save_comment
  .js-reviews
    .js-review_block.hidden!=review
  .js-add_button!=add_button
