

.js-content
  .js-reviews
    .js-review_block.hidden
      .js-remove_button!=remove_button
      .title Предмет
      .js-subject!=subject
      .title Проблема
      .js-course!=course
      .title Отзыв
      .js-review!=review
      .title Имя ученика
      .js-name!=name
      .title Дата
      .js-date!=date
      .title Комментарий
      .js-comment!=comment
  .js-add_button!=add_button
