//- if inactive selector must be "inactive"

- selector = selector || "";
- activities_str = selector.indexOf('inactive')
- btn_icon = btn_icon || "";

if activities_str != -1
  a.waves-effect.waves-light.btn-large.orange-btn(href=href class=selector).js-text!=text
    i.material-icons.left!=btn_icon
else
  a.waves-effect.waves-light.btn-large.active.orange-btn(href=href class=selector).js-text!=text
    i.material-icons.left!=btn_icon
