.subject!= subject
.bg_block
  .container
    .tag_block
      .subject_tag!=subject_tag
    .value.qualification!=qualification
    .value.course!=course
    .categories_of_students
      .title Категории учеников :
      .check_panel
        .left_block
          .pre_school!=pre_school
          .junior_school!=junior_school
          .medium_school!=medium_school
        .right_block
          .high_school!=high_school
          .student!=student
          .adult!=adult
    .value.duration!= duration
    .price
      .title Средняя цена занятия :
      .slider!= price_slider
    .place
      .title!='Место занятий :'
      .check_panel
        .left_block
          .tutor!=place_tutor
          .pupil!=place_pupil
        .right_block
          .remote!=place_remote
          .cafe!=place_cafe

    .value.group_learning!=group_learning
    .value.comments!= comments
