mixin field (selector, value)
  .value(class=selector)!= value
///////////

+field ('subject', subject)
+field ('list_course', list_course)
//+field ('categories_of_students', categories_of_students)
.categories_of_students
  .title Категории учеников :
  .check_panel
    .left_block
      .pre_school!=pre_school
      .junior_school!=junior_school
      .medium_school!=medium_school
    .right_block
      .high_school!=high_school
      .student!=student
      .adult!=adult
.time_spend_box
  .title Время одного занятия :
  .time_spend_lesson!=time_spend_lesson
.block_price_place
  +field ('place', place)
  .price!= price
  .price_button!= price_button
.group_block
  .students_in_group!= students_in_group
  .group_lessons_price!= group_lessons_price
+field ('comments', comments)