.title= title
.tutor_select_block
  .add_tutor!=add_tutor
  .list_tutor!=list_tutor
  .chose_tutor_block
    .chose_tutor!=chose_tutor
.button_panel
  .button_back_block!=button_back
  .button_issue_block!=button_issue
  .button_onward_block!=button_onward