
//- ------------------ CHECK IN -------------------------
.background_earth
.background_note
.background_pc
.background_pencils
.background_ruler
.background_vial
.check_in
  .top_block
    .top_text
      .t1 Вы преподаёте или хотите начать преподавать - тогда Вы попали куда нужно!<br>Создайте свою анкету на LessonHome и ученики сами будут вас находить.
      .t2 Уже очень скоро наш сервис будет полностью запущен.
      .t3 Зарегистрируйтесь сейчас и получите бонус к рейтингу +1!
    //.title.m-font.select Lesson <span>Home</span> соединяет высоко-квалифицированных<br>репетиторов с учениками для занятий любым удобным способом.
    //.title_conditions.select!= 'Подробная информация об условиях сотрудничества изложена<br>в '
      a.m-Link.select Условиях оказания информационных услуг

    form.js-form.check_in_fields.unselect(action="/form/tutor/register" method="post" name="login")
      input.js-submit(type='submit')
      .title.select Регистрация репетитора
      .login
        .input!= login
      .password
        .input!= password

      .checkbox
        .field!= agree_checkbox
        .text.select!= 'Я прочитал и согласен с '
          a.m-Link.select(href="/terms_of_cooperation") Условиями оказания информационных услуг
        .js-checkbox_error Пожалуйста, ознакомьтесь с условиями оказания услуг
      .buttons
        .create_account!=create_account