.container
  h1.center-align Вход в личный кабинет
  .row
    .col.l6.offset-l3
      p Вы преподаёте или хотите начать преподавать - тогда Вы попали куда нужно!<br>Создайте свою анкету на LessonHome и ученики сами будут вас находить.
      p Уже очень скоро наш сервис будет полностью запущен.
      p Зарегистрируйтесь сейчас и получите бонус к рейтингу +1!
  .row
    .col.l5.offset-l3
      form.js-form.check_in_fields.unselect(action="/form/tutor/register" method="post" name="login")
        .row!= login
        .row!= password
        .row
          .col.s12.l12.m12
            .checkbox
              .field!= agree_checkbox
              .text.select!= 'Я прочитал и согласен с '
                a(href="#terms_of_cooperation").js-terms_of_cooperation Условиями оказания информационных услуг
              .js-checkbox_error Пожалуйста, ознакомьтесь с условиями оказания услуг
        .row
          .col.s12.l12.m12.center-align!=create_account
#terms_of_cooperation.modal.modal-fixed-footer
  .modal-content
    h4 Общие условия сотрудничества<br/>с компанией «Лессон Хоум»
    p Общие условия сотрудничества с компанией «Лессон Хоум»<br>Мы подбираем вам клиентов, исходя из ваших предпочтений, которые вы укажите в личном кабинете при регистрации или дополните в разделе редактирование после. Как только появляется клиент подходящий под ваши предпочтения, мы связывемся с вами.
    p Также вас может прикрепить клиент непосредственно к своей заявке, указав, что хочет заниматься именно с вами.
    p Вы можете просматривать список актуальных заявок и отправлять запросы на подходящие вам. Доступ в личный кабинет вы получите сразу после регистрации.
    p За каждого полученного клиента вы оплачиваете нам указанную в заявке сумму (в зависимости от условий заявки, приблизительно от 500 до 2500 руб.).<br>При этом вы:<br>Платите за каждого клиента только один раз. Если данный клиент приводит друзей и знакомых — вы нам ничего за это не должны.<br>Платите только за результат — реальных клиентов, с которыми вы уже начали работать и от которых уже получили первую оплату.<br>Зарабатываете на каждом заказе — даже в случае непродолжительного курса: если работа прекращается, едва успев начаться, то мы пересчитываем цену заказа и возвращаем вам часть оплаты.
    p Анкеты создаются сразу после регистрации. У вас полный доступ к настройке и управлению своей анкетой. Чем лучше вы заполните свой профиль тем выше будет рейтинг страницы. Мы сделали очень удобный фильтр как для заявок, так и для анкет репетиторов.
    p Более подробная информация об условиях сотрудничества изложена в договоре оферты, с которым вам будет предложено ознакомиться в «личном кабинете» после регистрации.
  .modal-footer
    a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat Вернуться к регистрации
