mixin info_block(block_class, header, value)
  label(class=block_class)
    .value.g-standardField!= value
    .m-title.g-edit-smallTitle.select= header
//- -------------------------------------------------
.block
  +info_block('country', 'Страна :', country)
  +info_block('city', 'Город :', city)
  +info_block('university', 'Вуз :', university)
  +info_block('faculty', 'Факультет :', faculty)
  +info_block('chair', 'Кафедра :', chair)
  +info_block('status', 'Статус :', status)
  .line
    label.date
      .value
        .day!= release_day
      .m-title.g-edit-smallTitle.select Дата выпуска :
    label.month!= release_month
    label.year.g-smallField!= release_year

  .button_block
    .add_button!= add_button

  .button_block
    .save_button!= save_button

.hint!= hint



