
.value.country!=country
.err
  .js-out_err_country
.value.city!=city
.err
  .js-out_err_city
.value.university!=university
.err
  .js-out_err_university
.value.faculty!=faculty
.err
  .js-out_err_faculty
.value.chair!=chair
.err
  .js-out_err_chair
.value.qualification!=qualification
.err
  .js-out_err_status
.period.value
  .learn_from!=learn_from
  .learn_till!=learn_till
.err
  .js-out_err_period
//.add_button!= add_button



