mixin item (progress, value_src, href, selector)
  - href = href || '';
  - src = F(value_src);
  if href
    a(href=href class = selector)
      if progress
        .progress.block
          .value(style = "background: url(#{src}) no-repeat center")
      else
        .block
          .value(style = "background: url(#{src}) no-repeat center")
  else
    .panel(class = selector)
      if progress
        .progress.block
          .value(style = "background: url(#{src}) no-repeat center")
      else
        .block
          .value(style = "background: url(#{src}) no-repeat center")

//- --------------------------------------------------------
//width: 56px
//padding: 25px
- var widthBlue = 56 + 2*25
- var src_1 = 'application_1.png'
- var src_2 =  'application_2.png'
- var src_3 = 'application_3.png'
- var src_4 = 'application_4.png'
.container
  case progress
    when 1
      +item(1, src_1, false, 'one')
      +item(false, src_2, false)
      +item(false, src_3, false)
      +item(false, src_4, false, 'fourth')
      - widthBlue = widthBlue*(progress-1)
    when 2
      +item(1, src_1, 'first_step', 'one')
      +item(2, src_2, false)
      +item(false, src_3, false)
      +item(false, src_4, false, 'fourth')
      - widthBlue = widthBlue*(progress-1)
    when 3
      +item(1, src_1, 'first_step', 'one')
      +item(2, src_2, 'second_step')
      +item(3, src_3, false)
      +item(false, src_4, false, 'fourth')
      - widthBlue = widthBlue*(progress-1)
    when 4
      +item(1, src_1, 'first_step', 'one')
      +item(2, src_2, 'second_step')
      +item(3, src_3, 'third_step')
      +item(4, src_4, 'fourth_step', 'fourth')
      - widthBlue = widthBlue*(progress-1)
    when 5
      +item(1, src_1, false, 'one')
      +item(2, src_2, false)
      +item(3, src_3, false)
      +item(4, src_4, false, 'fourth')
      - widthBlue = widthBlue*(progress-2)
  .line_box
    .gray_line
    .blue_line(style='width: #{widthBlue}px')