
- placeholder = placeholder || "";
- selector = selector || "";
- value = value || "";
- type = type || "text";
- name = name || "text";
- level1left = level1left || "";
- level1right = level1right || "";
- level2left = level2left || "";
- level3left = level3left || "";
- level3right = level3right || "";
- l1hide = ((level1left+level1right) == "");
- l3hide = ((level3left+level3right) == "");


label(class=selector).unselect
  .js-level1(hide=l1hide)
    .left.js-left1.select!= level1left
    .right.js-right1.select!= level1right
  .js-level2
    .left.js-left2.select!= level2left
    .right
      input.js-input(placeholder=placeholder value=value type=type name=name)
  .js-level3(hide=l3hide)
    .left.js-left3.select!= level3left
    .right.js-right3.select!= leve31right
  .js-hint
    .js-hint_message!=hint
    .bubble-arrow
    .bubble-arrow-after
        
//
  if text
    .text.select!=text
  .js-box
    .js-input_box
      input.js-input(placeholder=placeholder value=value type=type name=name)
    .js-output_error
  .js-input_hint
    .js-hint_message!=hint
    .bubble-arrow
    .bubble-arrow-after
