- placeholder = placeholder || "";
- selector = selector || "";
- value = value || "";
- type = type || "text";
- name = name || "text";
label(class=selector).unselect
  if text
    .text.select!=text
  .js-box
    .js-input_box
      input.js-input(placeholder=placeholder value=value type=type name=name)
    .js-output_error
  .js-input_hint
    .js-hint_message!=hint
    .bubble-arrow
    .bubble-arrow-after
