
- placeholder = placeholder || "";
- selector = selector || "";
- value = value || "";
- type = type || "text";
- name = name || "text";
- text1 = text1 || "";
- text2 = text2 || "";
- text3 = text3 || "";
- error_align = error_align || "left";
- align = align || "left";

label(class=selector).unselect
  .js-level1(hide=(text1==""))
    .js-text1.select!= text1
  .js-level2
    .js-text2.select(hide=(text2==""))!= text2
    .right
      input.js-input(placeholder=placeholder value=value type=type name=name style="text-align:#{align};")
  .js-level3(hide=(text3==""))
    .js-text3.select(style="float:#{error_align};")!= text3
  .js-hint
    .js-hint_message!=hint
    .bubble-arrow
    .bubble-arrow-after
        
//
  if text
    .text.select!=text
  .js-box
    .js-input_box
      input.js-input(placeholder=placeholder value=value type=type name=name)
    .js-output_error
  .js-input_hint
    .js-hint_message!=hint
    .bubble-arrow
    .bubble-arrow-after
