
.info.unselect
  .status
    .title Статус :
    .value
      .student!= status_student
      .teacher!= status_teacher
      .phd!= status_phd
  .experience!= experience
  .text_box
    .title Возраст :
  .age_slider!=age_slider
  .sex
    .title Пол :
    .value
      .sex_man!= sex_man
      .sex_woman!= sex_woman

.hint!= hint