.info.unselect
  .status
    .title Статус :
    .value
      .student!= student
      .teacher!= teacher
      .professor!= professor
      .native!=native
  .experience!= experience
  .text_box
    .title Возраст :
  .age_slider!=age_slider
  .sex
    .title Пол :
    .sex_man!= sex_man
    .sex_woman!= sex_woman