.info.unselect
  .bg_box1
    .status
      .title.select Статус :
      .value
        .student!= student
        .teacher!= teacher
        .professor!= professor
        .native!=native
  .bg_box2
    .experience!= experience
    .text_box
      .title.select Возраст :
    .age_slider!=age_slider
    .sex
      .title.select Пол :
      .gender_data!=gender_data