mixin info_block(value)
  .list_block
    .value!= value
/////////////////////
.filters
  .left_block
    +info_block(subject_list)
    +info_block(saved_filters)
    .button_block
      .save_button!= save_button
  .right_block
    .place
      .title.select Место :
      .tutor!= tutor
      .student!= student
      .web!= web
      .hint!= location_hint
    +info_block(address_list)
    .road_time
      .title.select Время на дорогу :
      .value!= road_time_slider
.separate_line!= separate_line
.center_block(style='min-height:#{min_height}')
  .advanced_search
    .advanced_filter!=advanced_filter
    .button
  .list_bids!= list_bids



