.left_block
    .photo
    .mini_rating
        div(
        class='full_stars'
        style='width'+':'+mini_rating+'%'
        )
.right_block
    .user_name=user_name
    .creation_date=creation_date
    .review_text=review_text