.filter_data
  .title Выберите предмет :
  .subject_select_block
    .list_subject!=list_subject
    .chose_subject!=chose_subject
  .button_panel
    .button_back!=button_back
    .button_issue!=button_issue
    .button_onward!=button_onward