mixin item (text, fill_button, support_button)
  .item
    .icon
    .text= text
    .fill_button!= fill_button
    .support_button!= support_button

mixin report_line (title, value, selector)
  div(class=selector)
    .title= title
    .value.m-title= value

mixin line (title, value, selector)
  .line(class=selector)
    .title!= title
    .value.g-font-bidTitles
      div!= value

//- --------------------------------------------------------------------------------------

if selectable
  .bid_block
    .select_button
      .content!= checkbox
    .bid
      .basic_block
        .number_date
          .text!= number + '<br>'
            div(style="color: #444444")= date
        .subject_level
          .text!= subject + '<br>'
            = level
        .place
          .text= place
        .city_district
          .text!= city + '<br>'
            = district
        .bet
          .text!= bet_price + '<br>'
            != bet_time
        .price
          .text= price
        if status
          .status
            .text!= status

      .details_block
        +line('Категория ученика :', category_pupil, 'dark')
        +line('Направление подготовки :', training_direction, 'light' )
        +line('Количество занятий :', number_of_lessons, 'dark' )
        +line('Пожелания :', wishes, 'light' )
        +line('Ближайшее метро :', near_metro, 'dark' )
        +line('Комментарии :', comments, 'light' )
        +line('Цель занятия :', lesson_goal, 'dark' )
else
  .bid
    .basic_block
      .number_date
        .text!= number + '<br>'
          div(style="color: #444444")= date
      .subject_level
        .text!= subject + '<br>'
          = level
      .place
        .text= place
      .city_district
        .text!= city + '<br>'
          = district
      .bet
        .text!= bet_price + '<br>'
          != bet_time
      .price
        .text= price
    .request_button
      .text!= 'Подать <br> запрос'

    .details_block
      +line('Категория ученика :', category_pupil, 'dark')
      +line('Направление подготовки :', training_direction, 'light' )
      +line('Количество занятий :', number_of_lessons, 'dark' )
      +line('Пожелания :', wishes, 'light' )
      +line('Ближайшее метро :', near_metro, 'dark' )
      +line('Комментарии :', comments, 'light' )
      +line('Цель занятия :', lesson_goal, 'dark' )









