-selector=selector||"";
.navigation
  .general!=general
  .subjects!=subjects
  .reviews!=reviews
  .js-back
    .text НАЗАД
    .icon
.center_block(class=selector)
  .content!=content
  .buttons
    .contact!=contact_tutor_button
    .add!=add_to_bid_button