.js-back
  .button
    .icon
    .text Вернуться к списку
.block
  .left
    .general
      .photo_block
        .avatar
        .photos
        .attach_button
      .personal_data
        .top
          .rating
          .location
    .extra_info
      .header
        .about О себе
        .subjects Обучение предметам
        .reviews Отзывы
      .value
        .about
          .about_text
          .sub_title Награды, дипломы, сертификаты
          .honors_text
  .right
    .content
      .title!='Написать '+value.tutor_name
      .calendar
        .icon
        a Посмотреть график работы
      .msg!=msg
      .name!=name
      .login!=login
      .subject!=subject
      .terms_of_use
        .agree_checkbox!=agree_checkbox
        .text Я согласен с пользовательским<br>соглашением
      .write_button!=write_button




















