
mixin item(selector, title, value)
  .item(class=selector)
    .title!=title
    .value!=value

.js-back
  .button
    .icon
    .text Назад
.block
  .left
    .general
      .photo_block
        .avatar!=rating_photo
        .photos
        .js-attach_button!=attach_button
      .personal_data.select
        .top
          .rating!=rating
          .js-location
        .js-full_name
        .js-description
        .js-status.item
          .title!='Статус :'
          .value.js-status_value
        .js-experience.item
          .title!='Опыт :'
          .value.js-experience_value
        .js-age.item
          .title!='Возраст :'
          .value.js-age_value
        .js-work_place.item
          .title!='Место работы :'
          .value.js-work_place_value
        .js-education.item
          .title!='Образование :'
          .value.js-education_value
        .js-areas_departure.item
          .title!='Районы выезда :'
          .value.js-areas_departure_value
    .extra_info
      .header
        .js-about
          .text О себе
          .line
        .js-subjects
          .text Обучение предметам
          .line
        .js-reviews
          .text Отзывы
          .line
      .value.select
        .js-about_content
          .js-about_text
          .js-reason
            .title Почему я репетитор?
            .val.js-reason_val
          .js-interests
            .title Интересы
            .val.js-interests_val
          //-.sub_title Награды, дипломы, сертификаты :
          //-.js-honors_text!=value.honors_text
        .js-subjects_content
          .subject!=hidden_subject
          //-each val in value.subjects
            //-.subject!=val
        .js-reviews_content Отзывов о данном репетиторе пока нет

  .js-right
    .js-write_tutor_content
      .title.js-write_tutor_title.select Написать
      .calendar.select
        .icon
        a Посмотреть график работы
      .js-write_tutor_msg!=msg
      .js-write_tutor_name!=name
      .js-write_tutor_phone!=phone
      .js-write_tutor_subject!=subject
      .terms_of_use
      //  .agree_checkbox!=agree_checkbox
      //  .text.select Я согласен с пользовательским<br>соглашением
      .js-write_tutor_error_field
      .js-write_button!=write_button




















