
mixin item(selector, title, value)
  .item(class=selector)
    .title!=title
    .value!=value

.js-back
  .button
    .icon
    .text Вернуться к списку
.block
  .left
    .general
      .photo_block
        .avatar
        .photos
        .attach_button!=attach_button
      .personal_data.select
        .top
          .rating!=value.rating
          .location!=value.location
        .full_name!=value.full_name
        .description!=value.description
        +item('status', 'Статус :', value.status)
        +item('experience', 'Опыт :', value.experience)
        +item('age', 'Возраст :', value.age)
        +item('work_place', 'Место работы :', value.work_place)
        +item('education', 'Образование :', value.education)
        +item('areas_departure', 'Районы выезда :', value.areas_departure)

    .extra_info
      .header
        .js-about.active
          .text О себе
          .line
        .js-subjects
          .text Обучение предметам
          .line
        .js-reviews
          .text Отзывы
          .line
      .value
        .js-about_content
          .about_text!=value.about_text
          .sub_title Награды, дипломы, сертификаты :
          .honors_text!=value.honors_text
        .js-subjects_content
        .js-reviews_content

  .right
    .content
      .title!='Написать '+value.tutor_name
      .calendar
        .icon
        a Посмотреть график работы
      .msg!=msg
      .name!=name
      .login!=login
      .subject!=subject
      .terms_of_use
        .agree_checkbox!=agree_checkbox
        .text Я согласен с пользовательским<br>соглашением
      .write_button!=write_button




















