.hint_block
  .title.g-font-middleTitle!= 'Список учеников, <br> которым Вы отправили заявки'
  .hint!= hint
.bar
  .select_all
    .button!= select_all_checkbox
    .list!= select_all_list
  .delete
    .icon
    .title Удалить
  .select_subject!= subject
.list_bids!= list_bids