.head!= head
.edit!= edit_profile
.top_menu!= top_menu
.left_menu!= left_menu
.content
    .left-content
        .photo!= photo
        .progress!= progress
    .right-content
        .personal_data!= personal_data
        .contacts!= contacts
        .education!= education
        .private!= private
