.title= title
.subject_select_block
  .add_subject!=add_subject
  .list_subject!=list_subject
  .chose_subject_block
    .chose_subject!=chose_subject
.button_panel
  .button_back_block!=button_back
  .button_issue_block!=button_issue
  .button_onward_block!=button_onward