.photos_block
  .text Фотографии
  .add!= add_photos
  .number У вас #{number_of_photos} фото
  .photos
    each value in photos
      .photo!= value

.videos_block
  .text Видео
  .add!= add_videos
  .number У вас #{number_of_videos} видео
  .videos
    each value in videos
      .video!= value


//-.hint!= hint