.photo_block
  .text Фотографии
  .add!= add_photos
  each value in photos
    .tutor_added_photo!= value

.video_block
  .text Видео
  .add!= add_videos
  each value in videos
    .tutor_added_video!= value


.hint!= hint