-  width_photo = 96;
-  height_photo = 96;
//-// height_photo = image.h*width_photo/image.w;
.photo(class = selector)
  img(src=F(image.src), width=width_photo, height=height_photo)
  if close
    .close_box
      .close_icon
//.all_rating!=all_rating
if count_review
  a(href='#')
    .js-count_review.select!='отзывы ('+count_review+')'
else
  a
    .js-count_review.select!='отзывы (0)'
//-
  else
    a(href='#')
      .js-count_review.select!=count_review + ' отзывов'
