
.value.country!= country
.err
  .js-out_err_country
.value.city!= city
.err
  .js-out_err_city
.value.area!= area
.err
  .js-out_err_area
.input_block
  .input.near_metro!= near_metro
  .input.street!= street
  .input.house!= house
  .input.building!=  building
  .input.flat!= flat
.add_button!=add_button
.save_button!=save_button
