
.value.country!= country
.value.city!= city
.value.area!= area
.input_block
  .input.near_metro!= near_metro
  .input.street!= street
  .input.house!= house
  .input.building!=  building
  .input.flat!= flat
.save_button!=save_button




