if popup
  !=popup
.container
  .header!= header
  .js-filter_top!=filter_top
  if info_panel
    .js-info_panel!=info_panel
  if content && !clear_profile
    .js-content!= content
  else
    .js-content
  if clear_profile
    .js-tutor_profile!= tutor_profile
  else
    .js-tutor_profile.hidden!= tutor_profile
.footer!= footer
.attached!=bottom_block_attached
