if popup
  !=popup
  //.js-popup_wrap
    .js-content!= popup
.container
  .header!= header
  .filter_top!=filter_top
  if info_panel
    .info_panel!=info_panel
  .content!= content
//.attach_tutor!=attach_tutor
.footer!= footer

