.js-remove_button!=remove_button
.value.js-country!=country
.err
  .js-out_err_country
.value.js-city!=city
.err
  .js-out_err_city
.value.js-university!=university
.err
  .js-out_err_university
.value.js-faculty!=faculty
.err
  .js-out_err_faculty
.value.js-chair!=chair
.err
  .js-out_err_chair
.value.js-qualification!=qualification
.err
  .js-out_err_status
.period.value
  .js-learn_from!=learn_from
  .js-learn_till!=learn_till
.value.js-comment!=comment
.err
  .js-out_err_period
//.add_button!= add_button



