.tutor_card
  .row.no-margin-row
    .col.s4.m4.l4.m-tutor_avatar
      a(href!=value.link)
        img(src=value.photos, alt=value.name).responsive-img
    .col.s8.m8.l8.m-tutor_info
      a(href!=value.link).title!=value.name
      .directions!=value.directions
      .price
        |от 
        span!=value.left_price
        |р./час
      .location
        .stantion
          case value.metro_tutors.type
            when 'remote'
            when 'all'
            when 'area'
            when 'street'
              span.middle-span.card-info-color!=value.metro_tutors.data
            when 'metro'
              -val = value.metro_tutors.data[0];
              span.stantion.dropdown-button(data-hover="true",data-constrainwidth="false", data-activates!="d#{value.index}")
                i.m_icon.icon_fiber_manual_record.middle-icon(style='color:' + val.color)
                span.card-info-color!=val.metro
                if value.metro_tutors.data.length > 1
                  .dotted_more-button.right-align
              if value.metro_tutors.data.length > 1
                ul.dropdown-content(id="d#{value.index}")
                  each val, i in value.metro_tutors.data
                    li
                      span.stantion
                        i.m_icon.icon_fiber_manual_record.middle-icon(style='color:' + val.color)
                        span!=val.metro
      .button
        .waves-effect.waves-light.btn.orange-btn.js-attach_pos Связаться
