.grade
  .title.select Рейтинг :
  .reviews_rating!=reviews_rating
  .number_pupils.select='( '+pupils_number+' учеников )'
.reviews
  if list_reviews.length
    each value in list_reviews
      .review!= value
  else
    .no_reviews
      .text1 Пока нет ни одого отзыва.
      .text2 Каждый отзыв собирается оператором после<br>удачно завершённой заявки.
//if send_bid_this_tutor
  .send_bid_this_tutor!=send_bid_this_tutor
//.hint
  .vertical_line!=line
  .question_sign_block
  .title_help Откуда берутся отзывы?
  .text Все оценки и отзывы о данном репетиторе получены исключительно от учеников, подобранных Ассоциацией репетиторов. Некоторые отзывы написаны учениками лично, другие получены в телефонном разговоре и опубликованы с согласия ученика