mixin info_line (value)
  each val, key in value
    .info_line
      .key= key
      .val= val
//- ------------------------------------------------
.additional_info
  .btn
    .sign
    .text Просмотреть доп.информацию

.data
  .title Данные
  .name
    .key= name

  each value in data
    +info_line (value)

.payment
  .title Оплата
  each value in payment
    +info_line (value)

.review
  .title Отзыв
  .text= review




.report
  .title Отчёт
    .help_word ( Ваш комментарий по заказу )
  .text= report














