div(class=selector)
  .box_input
    if (type!='right')
      .js-start!=start
    if dash
      .dash=dash
    .end!=end
    if measurement
      .measurement=measurement
  .move.hide-on-med-and-down!=move








