//.search_diagram(scrolltop="how-it-works")!=search_diagram
//.choose_tutor_block(scrolltop="ways-to-find" style = "background: url(#{F('main/pattern_green2.jpg')})")!=choose_search
//.choose_search_block(scrolltop="tutor-selection")!=choose_tutor

mixin review(selector, name, text)
  .review(class=selector)
    .photo_wrap
      .photo
      .name=name
    .text_box
      .quotes_wrap
        .quotes
      .text.select=text
      .triangle

.simple_search.select
  .t1 Найти репетитора с Lesson Home - легко!
  .t2 Мы ценим время и нервы наших клиентов, поэтому предлагаем<br>разные варианты подбора репетиторов.
  .wand_left
  .wand_right
  .pattern_bottom
.best_reps
  .title.select Наши лучшие репетиторы
  .reps.select
    each val in reps
      .rep!=val
.board_wrap
  .board
.motivation
  .left
    .title.select Как подобрать репетитора?
    .text.select Выберите предмет и место занятий. Система покажет самых подходящих репетиторов. Вам останется отметить понравившегося и оставить заявку. Репетитор сам свяжется с Вами.
  .center
    .title.select Не знаете кого выбрать?
    .text.select Мы поможем Вам! Просто заполните короткую заявку и мы сами найдем нужного репетитора.
  .right
    .title.select Позвони мне, позвони!
    .text.select Иногда проще сказать, чем написать - закажите обратный звонок, и наш администратор сделает всё за Вас.
  .buttons_block
    .button_wrap_motivation
      .button!=motivation_block_start
    .button_wrap_issue_bid
      .button!=issue_bid
    .button_wrap_callback
      .button!=callback
  .bottom_pattern
.ways
  .main_apple
  .title.select Не важно какой из вариантов поиска Вы выберите,<br>главное - они все приведут к правильному результату.
  .text.select Пользуясь нашим сервисом, Вы получаете новые знания,<br>решаете свои повседневные задачи и добиваетесь<br>глобальных целей, открывая новые горизонты.<br>Мы этому искренне рады!
  .button!=ways_block_start
  .pattern_bottom
.reviews_wrap
  .title.select Что о нас говорят
  .reviews
    +review('first', 'Игорь', 'Ребята молодцы, сделали очень удобный поиск! При изменении настроек сразу же обновляется список репетиторов - можно довольно быстро найти то, что тебе нужно.')
    +review('second','Татьяна', 'Мне очень понравился дизайн сайта, всё в тему и приятное. Зарегистрировалась легко и надеюсь на скорый запуск!')
