//.search_diagram(scrolltop="how-it-works")!=search_diagram
//.choose_tutor_block(scrolltop="ways-to-find" style = "background: url(#{F('main/pattern_green2.jpg')})")!=choose_search
//.choose_search_block(scrolltop="tutor-selection")!=choose_tutor

mixin review(selector, name, text)
  .review(class=selector)
    .photo_wrap
      .photo
      .name=name
    .text_box
      .quotes_wrap
        .quotes
      .text.select=text
      .triangle

.simple_search.select
  .t1 Найти репетитора с Lesson Home - легко!
  .t2 Мы ценим время и нервы наших клиентов, поэтому предлагаем<br>разные варианты подбора репетиторов.
  .wand_left
  .wand_right
  .pattern_bottom
.best_reps
  .title.select НАШИ ЛУЧШИЕ РЕПЕТИТОРЫ
  .reps.select
    each val in reps
      .rep!=val
.board_wrap
  .board
.motivation
  .left
    .title.select РАЗ, ДВА И ГОТОВО!
    .text.select Укажите диапазон цены, время и место занятий и умный поисковик мгновенно подберёт для Вас подходящие анкеты репетиторов из нашей огромной базы. Вам останется выбрать репетитора и начать обучение. Пользоваться нашим интерактивным поиском очень просто!
    .button!=motivation_block_start
  .center
    .title.select НЕ ЗНАЕТЕ, КОГО ВЫБРАТЬ?
    .text.select Мы поможем Вам с выбором! Просто заполните заявку, и мы подберём подходящего репетитора, исходя из Ваших пожеланий. Вы можете указать только самые необходимые данные, но чем подробнее будет заполнена заявка, тем точнее мы подберём репетитора.
    .button!=issue_bid
  .right
    .title.select ПОЗВОНИ МНЕ, ПОЗВОНИ!
    .text.select Иногда проще сказать, чем написать - закажите обратный звонок, и наш оператор сделает всё за Вас. Если сомнения? Мы ответим на все Ваши вопросы!
    .button!=callback
  .bottom_pattern
.ways
  .main_apple
  .title.select НЕ ВАЖНО, КАКОЙ ИЗ ВАРИАНТОВ ПОИСКА ВЫ ВЫБЕРЕТЕ,<br>ГЛАВНОЕ - ОНИ ВСЕ ПРИВЕДУТ К ПРАВИЛЬНОМУ РЕЗУЛЬТАТУ.
  .text.select Пользуясь нашим сервисом, Вы получаете новые знания,<br>решаете свои повседневные задачи и добиваетесь<br>глобальных целей, открывая новые горизонты.<br>Мы этому искренне рады!
  .button!=ways_block_start
  .pattern_bottom
.reviews_wrap
  .title.select ЧТО ГОВОРЯТ О НАС УЧЕНИКИ И РЕПЕТИТОРЫ
  .reviews
    +review('first', 'Игорь', 'Ребята молодцы, сделали очень удобный поиск! При изменении настроек сразу же обновляется список репетиторов - можно довольно быстро найти то, что тебе нужно.')
    +review('second','Татьяна', 'Мне очень понравился дизайн сайта, всё в тему и приятное. Зарегистрировалась легко и надеюсь на скорый запуск!')
