//.search_diagram(scrolltop="how-it-works")!=search_diagram
//.choose_tutor_block(scrolltop="ways-to-find" style = "background: url(#{F('main/pattern_green2.jpg')})")!=choose_search
//.choose_search_block(scrolltop="tutor-selection")!=choose_tutor

mixin review(selector, text)
  .review(class=selector)
    .photo_wrap
      .photo
    .text_box
      .quotes_wrap
        .quotes
      .text.select=text
      .triangle

.simple_search
  .t1 Найти репетитора с Lesson Home - легко!
  .t2 Мы ценим время и нервы наших клиентов и поэтому предлагаем<br>различные варианты подбора репетиторов.
  .wand_left
  .wand_right
  .pattern_bottom
.best_reps
  .title НАШИ ЛУЧШИЕ РЕПЕТИТОРЫ
  .reps
    each val in reps
      .rep!=val
.board_wrap
  .board
.motivation
  .left
    .title.select РАЗ, ДВА И ГОТОВО!
    .text.select Укажите диапазон цены, время и место планируемых занятий и умный поисковик мгновенно подберёт для Вас подходящие анкеты репетиторов из нашей огромной базы.<br>Вам останется выбрать репетитора и начать обучение.<br>Пользоваться нашим интерактивным поиском очень просто!
    .button!=motivation_block_start
  .center
    .title.select НЕ ЗНАЕТЕ, КОГО ВЫБРАТЬ?
    .text.select Мы поможем вам с выбором!<br>Просто заполните заявку, и мы подберём для Вас подходящего репетитора исходя из Ваших пожеланий.<br>Вы можете узнать только самые необходимые данные, но чем подробнее Вы заполните заявку, тем точнее мы подберём нужного Вам репетитора.
    .button!=issue_bid
  .right
    .title.select ПОЗВОНИ МНЕ, ПОЗВОНИ!
    .text.select Иногда проще сказать, чем написать - закажите обратный звонок, и наш оператор сделает всё за Вас.<br>Если вы в чём-то сомневаетесь, то мы ответим на все ваши вопросы!
    .button!=callback
.ways
  .main_apple
  .title НЕ ВАЖНО, КАКОЙ ИЗ ВАРИАНТОВ ПОИСКА ВЫ ВЫБЕРЕТЕ,<br>ГЛАВНОЕ - ОНИ ВСЕ ПРИВЕДУТ К ПРАВИЛЬНОМУ РЕЗУЛЬТАТУ.
  .text Пользуясь нашим сервисом, Вы получаете новые знания,<br>решаете свои повседневные задачи и добиваетесь своих<br>глобальных цель, обозначая новые горизонты.<br>Мы этому искренне рады!
  .button!=ways_block_start
  .pattern_bottom
.reviews_wrap
  .title ЧТО ГОВОРЯТ О НАС УЧЕНИКИ И РЕПЕТИТОРЫ
  .reviews
    +review('first',  'Укажите диапазон цены, время и место планируемых занятий и умный поисковик мгновенно подберёт для Вас подходящие анкеты репетиторов из нашей огромной базы.')
    +review('second', 'Укажите диапазон цены, время и место планируемых занятий и умный поисковик мгновенно подберёт для Вас подходящие анкеты репетиторов из нашей огромной базы.')
