.name_verification_block
  .tutor_name=tutor_name
  .verification
    .with_verification(style = 'background-color: #{with_verification};')
.tutor_subject=tutor_subject
.tutor_status=tutor_status + ', опыт ' + tutor_exp + ' года'
.tutor_place=tutor_place
.tutor_title=tutor_title
.tutor_text=tutor_text
.button_prise_panel
  .add_button_bid!=add_button_bid
  .price_block
    .icon
    .tutor_price=tutor_price + ' '
      span р/ч