- var max_text_length = 113;
.name_verification_block
  .js-tutor_name.select=value.name.last+' '+value.name.first+' '+value.name.middle
  //-.verification
    //-.js-with_verification(style = 'background-color: #{value.with_verification};')
.js-tutor_status.select=value.status + ', опыт ' + value.experience + ' года'
.division_line
.js-tutor_price.select
  .icon
  .val
    div='цена от '
    .js-price=Math.floor(value.price_per_hour/10)*10
    div=' р/ч'
.division_line
.js-tutor_subject.select
  each val,key in value.subjects
    .tag=key
.division_line
.js-tutor_title.select="О себе:"
.js-tutor_text.select=value.about
.division_line
.bottom_block
  .js-add_button_bid!=add_button_bid
  .js-tutor_place.select
    .icon
    .val.js-location=value.location.city

//-
  .button_prise_panel

    .price_block
      .icon
      .js-tutor_price.select=value.tutor_price + ' '
        span р/ч
