.head!= head
.edit_profile!= edit_profile
.left-block
    .short_info!= short_info
    .left_menu!= left_menu
.right-block
    .top!= top_menu
    .content
        .left-content
            .photo!= photo
            .rating!= rating
            .video!= video
        .right-content
            .personal_data!= personal_data
            .contacts!= contacts
            .education!= education
            .private!= private
