// takes variables:
  //{title, value}
// type variables
  // title  - string
  // value - module
//respons
  // value - content
  // title - class sass

mixin section_box (title, value)
  div.select(class=title + '_box')
    .icon_box
      .icon
    div(class=title)!=value
///////////////////////////////

if popup
  .popup_wrap
    .content!= popup
.info_data
  .person_box
    .photo!= photo
    .all_rating!=all_rating
    if count_review
      .count_review.select!=count_review + ' отзывов'
    if progress
      .progress!= progress
  .personal_data
    .name_verification_block
      .tutor_name.select!= last_name + ' ' + first_name + ' ' + middle_name
      //if with_verification
        .verification
          .with_verification(style = 'background: #{with_verification}')
          .hover_popup
            .text_block
              .documents_check &bull;&nbsp;Интервью&nbsp;пройденно
              .interview_completed &bull;&nbsp;Документы&nbsp;проверены
    != personal_data
  if send_bid_this_tutor
    .send_bid_this_tutor!=send_bid_this_tutor
if contacts
  .separate_box!=line_con
  +section_box ('contacts', contacts)
.separate_box!=line_edu
+section_box ('education', education)
.separate_box!=line_pri
+section_box ('about', about)
.separate_box!=line_med
.media_box
  .media
    .photo1
    .photo2
    .photo3
    .photo4
    .video5
