mixin reviews (index, image, name, link, name_r, date_r, rating, subject, text)
  .col.s12.m6.l3.comment-cell
    .col.s12.no-padding-col.comment-img.center-align
      a(href!=link, data-i!=index).comment-img-link
        img(src=image).responsive-img
        .comment-tutor-name
          .comment-img-layer
            .comment-img-name!=name
            .comment-img-subject!=subject
    .col.s12.no-padding-col.comment-body
      .col.s12.comment-text!=text || 'Отзывов пока нет.'
      .col.s12.right-align
        .rew_name!=name_r
        //.rew_name!=date_r
.container.js-rew
  .row.no-margin-row.title
    .col.s12
      h2 Отзывы о преподавателях 
    .col.s10.cb-body.js-slick_block.clearfix.offset-s1.slick-main
      for rep in main_rep
        -rew = rep.num_show_rev !== undefined ? rep.reviews[rep.num_show_rev] : {};
        +reviews(rep.index, rep.avatar, rep.name.first, rep.link, rew.name, rew.date, rew.mark, rew.subject ? rew.subject[0] : '', rew.review)
