mixin reviews (index, image, name, link, name_r, date_r, rating, subject, text)
  .col.s12.m6.l3.m-cell
    .col.s12.m-no_padding.m-img_con.center-align
      a(href!=link, data-i!=index).m-img_link
        img(src=image).m-img.responsive-img
        .tutor-name
          .img-layer
            .img-name!=name
            .img-subject!=subject
    .col.s12.m-comment_body
      .col.m-no_padding.s12.m-comment_text!=text || 'Отзывов пока нет.'
      .col.m-no_padding.s12.right-align
        .m-rew_name!=name_r
        //.rew_name!=date_r
.comments-block
  .container.js-rew
    .row.no-margin-row.title
      .col.s12
        h2.m-title Отзывы о преподавателях 
      .col.s10.cb-body.js-slick_block.clearfix.offset-s1.slick-main
        for rep in main_rep
          -rew = rep.num_show_rev !== undefined ? rep.reviews[rep.num_show_rev] : {};
          +reviews(rep.index, rep.avatar, rep.name.first, rep.link, rew.name, rew.date, rew.mark, rew.subject ? rew.subject[0] : '', rew.review)
