.js-remove_button!=remove_button
.title Предмет
.js-subject!=subject
.title Проблема
.js-course!=course
.title Отзыв
.js-review!=review
.title Имя ученика
.js-name!=name
.title Дата
.js-date!=date
.title Оценка
.js-mark!=mark
.title Комментарий
.js-comment!=comment
.title.small На главную
input.js-onmain.title.small.checkbox(type="checkbox")
