mixin title_block (title, selector)
  .title_block(class=selector)
    .title=title
    .line

mixin info_block (selector, title, value)
  .label_block
    label.info_block(class=selector)
      .title=title
      .value!=value

//- ---------------------------------------------------------------------------------

.new_orders
  .title Новые заказы :
  .value!= new_orders_toggle

.get_notice
  .title Получать уведомления :
  .value
    .notice_sms_checkbox
        .value!= notice_sms_checkbox
        .title по смс
    .notice_email_checkbox
        .value!= notice_email_checkbox
        .title на e-mail

.callback
  .title Можно ли оператору<br>Вам звонить?
  .value
    .callback_toggle!=callback_toggle
    .callback_comment!= callback_comment

.save_block
  .button!= save_button

+title_block('Номер телефона', 'phone_number')
//-+info_block('old_phone_number', 'Привязанный :', '+7********98')
.old_phone_number
  .title Привязанный :
  .value
    .text +7*** *** ** 98

+info_block('new_phone_number', 'Новый :', new_phone_number)
.change_block
  .button!= change_button

+title_block('E-mail', 'email')

.old_email
  .title Старый :
  .value
    .text dd******@mail.ru

//-+info_block('old_email', 'Старый :', 'dd******@mail.ru')



+info_block('new_email', 'Новый :', new_email)
.change_block
  .button!= change_button

+title_block('Пароль', 'password')
+info_block('old_password', 'Старый :', old_password)
+info_block('new_password', 'Новый :', new_password)
+info_block('confirm_password', 'Подтвердите :', confirm_password)
.save_block.password
  .button!= save_button
