mixin title_block (title, selector)
  .title_block(class=selector)
    .title.select=title
    .line
mixin field (selector, value)
  .value(class=selector)!=value

mixin field (selector, value)
  .value(class=selector)!=value

//- ---------------------------------------------------------------------------------
.new_orders
  .title.select Новые заказы :
  .value!= new_orders_toggle

.get_notice
  .title.select Получать уведомления :
  .val
    .notice_sms_checkbox!=notice_sms_checkbox
    .notice_email_checkbox!=notice_email_checkbox

.callback
  .title.select Можно ли оператору<br>Вам звонить?
  .callback_toggle!=callback_toggle
  .callback_comment!= callback_comment

.save_block
  .button!= save_button

+title_block('Номер телефона', 'phone_number')

.old_phone_number
  .title.select Привязанный :
  .text.select +7*** *** ** 98

+field('new_phone_number', new_phone_number)

.change_block
  .button!= change_button

+title_block('E-mail', 'email')

.old_email
  .title.select Старый :
  .text.select dd******@mail.ru

+field('new_email', new_email)

.change_block
  .button!= change_button

+title_block('Пароль', 'password')
+field('old_password', old_password)
+field('new_password', new_password)
+field('confirm_password', confirm_password)

.save_block
  .button!= save_button


