
mixin field (selector, value)
  .value(class=selector)!=value


//- ---------------------------------------------------------------------------------
.new_orders
  .title.select Новые заказы :
  .value!= new_orders_toggle

.get_notice
  .title.select Получать уведомления :
  .val
    .notice_sms_checkbox!=notice_sms_checkbox
    .notice_email_checkbox!=notice_email_checkbox

.callback
  .title.select Можно ли оператору<br>звонить Вам?
  .callback_toggle!=callback_toggle
  .callback_comment!= callback_comment
  .js-hint
    .text Рекомендуем оставить возможность оператру звонить Вам.<br>Так Вы сразу получите информацию об ученике, любые вопросы будут быстро решены.<br>Чтобы Вам звонили только в определенное время - укажите это в комментариях.
    .js-close_block
      .close
.save_block
  .button!=save_button_notice

//+title_block('Номер телефона', 'phone_number')
.line_box
  .line!=line_login
.enter_change_login
  .old_login
    .title.select Привязанный :
    .text.select!= old_login
  +field('new_login', new_login)
  .password!=password
  .change_block
    .button!= change_button_login

//-
  .line_box
    .line!=line_email

  .old_email
    .title.select Старый :
    .text.select!= old_email

  +field('new_email', new_email)

  .change_block
    .button!= change_button_email

.line_box
  .line!=line_password
+field('old_password', old_password)
+field('new_password', new_password)
+field('confirm_password', confirm_password)

.save_block
  .button!= save_button_password

