

h2 На счете репетитора:

.summ_price(class=parseInt(current_sum) < 0? 'red' : '')
  span.js-summ!=current_sum
  span &nbsp;руб.
h2 Добавить транзакцию:
.form
  .elem-form
    .input!=date
  .elem-form.price
    .input!=send_input
    span.curr &nbsp;руб.
  .elem-form
    select.js-desc_sel
      option(value='', selected=true, disabled=true) Описание операции
      option(value='') Другое...
      option(value='Оплата заявки') Оплата заявки
      option(value='Пополнение счета') Пополнение счета

  .elem-form
    .description!=description
  .elem-form
    select.js-type
      option(value='', selected=true, disabled=true) Операция
      option(value="pay") Снятие
      option(value="fill") Пополнение
  .elem-form.btn-panel
    .btn.left!=add_btn
    .btn.right!=save_btn

h2 Транзакции:
mixin trans(number, pay_id, date, type, status, value, residue)
  tr
    td!=pay_id || '-'
    td!=number
    td
      .time(style ="display: none")!=date
      p.local_date(style ="visibility: hidden") 00.00.0000
      i.local_time(style ="visibility: hidden") 00:00:00
    case type
      when 'fill'
        td.up Пополнение
      when 'pay'
        td.down Списание
      default
        td Прочие операции
    td #{value || '0.00'} руб.

    td.grey!=status

    td!=residue? residue + " руб.": "&#8212;"
    td
      if status != 'wait'
        a(href='#', data-number=number, class="delete") del.


table.js-transations
  thead
    tr
      th ID
      th Счет
      th Дата / Время
      th Операция
      th Сумма
      th Статус
      th Остаток
      th del.
  tbody
    - var exist = false
    each t in transactions
      -exist = true
      +trans(t.number, t.pay_id, t.date, t.type, t.status, t.value, t.residue)
    if !exist
      tr
        td.empty(colspan='6') Операций не обнаружено