- tags_selector = tags_selector || ''

.calendar_box(class = selector)
  .js-choose_all!= choose_all
  .js-calendar_week
    .js-day.monday.hover пн
    .js-day.tuesday.hover вт
    .js-day.wednesday.hover ср
    .js-day.thursday.hover чт
    .js-day.friday.hover пт
    .js-day.saturday.hover сб
    .js-day.sunday.hover вс
  .js-show-hidden-block
    .time_box
      .from_time!=from_time
      .dash -
      .till_time!=till_time
      .js-add_time_button!= add_time_button
  .js-error
  .js-save_button!=save_button
.tags(class=tags_selector)
  if tags
    each val, index in tags
      .tag
        .tag_box
          .day_box
            .day!=val.day
          .time_box
            .time
              .text c
              .time_from!=val.period.start
              .text до
              .time_till!=val.period.end
          .js-close_box
            .close

.js-tag(style="display: none")
  .tag_box
    .day_box
      .day
    .time_box
      .time
        .text c
        .time_from
        .text до
        .time_till
    .js-close_box
      .close




