if shadow_bg
  -var shadow_style = 'shadow_screen'
if dotted_bg
  -var dotted_style = 'dotted_pattern'
if bg_position
  -var bg_position_style = bg_position
.first_screen(class=shadow_style, class=dotted_style, style='background-image: url(' + F(top_img)  + '); background-position: ' + bg_position_style + ';')
  .container
    .row
      if top_right
        -var offset_title = 'offset-l8'
      .col.s12.m12.l4(class=offset_title)
        .row.m-custom_title
          if title_custom_position
            -var title_custom_class = 'custom_title'
            if top_right
              -var title_class_position = 'left_title'
            else
              -var title_class_position = 'right_title'
          .col.s12(class=title_custom_class, class=title_class_position)
            h1.m-ff_title(class=title_color)!=title
    .row
      if top_right
        -var offset_form = 'offset-l8' 
      .col.s12.m6.l4(class=offset_form)
        .row
          .m-form_body.js-form
            .row
              .col.s12
                h2.m-fb_h2 Мы сделаем все за Вас
                h3.m-fb_h3 Просто оставьте заявку
            .row
              .input-field.col.s12.gray-input
                i.m_icon.icon_account_circle.prefix
                input(type='text' id='f_name', name ='name', value=value.name).js-name
                label(for='f_name') Имя
            .row
              .input-field.col.s12.gray-input
                i.m_icon.icon_phone.prefix
                input(type='tel' id='f_phone', name='phone', value=value.phone).js-phone
                label(for='f_phone') Телефон
            .row.fs_row-button.center-align
              .col.s12.m-fb_italic перезвоним через 10 минут 
              .col.s12
                a.waves-effect.waves-light.btn-large.orange-btn.m-field_btn.js-attach(name='bid_podbor') Перезвоните мне
                  i.m_icon.icon_send.right
            .row
              .col.s12
                .btn-large.m-succes-btn.white-text.light-blue.darken-4(style='background-color:' + bg_color  + ' !important;') Мы не передаем данные<br /> третьим лицам
                  i.m_icon.icon_lock_outline
          .m-success.js-success(style="display:none")
            h5.title_one Заявка успешно отправлена!
            h5.title_two Наш менеджер свяжется с Вами в течении 10-15 минут
            .row.no-margin-row.center-align
              a.waves-effect.waves-light.btn-large.orange-btn.m-field_btn.js-detail Уточнить заявку
if result_show
  .result_block!=result
if work_steps_show
  .work_steps!=work_steps
.tutors_cards
  .container
    h2=tutors_title
    .row.no-margin-row.m-inline_grid
      each tutor in tutors
        .col.s12.m6.l6!=tutor
.more_tutors
  .container
    .row.no-margin-row
      .col.s12 
        .m-mt_text
          span На нашем сайте вы найдете больше репетиторов
          i.m_icon.icon_chevron_right
          a.js-go_find(href='/search')
            img(src=F('lp/lh_white.png'))
if comments_show
  .comments!=comments_landing
- if(bottom_bg){
  -var bottom_bg_src = 'background-image: url(' + F(bottom_bg_src)  + ')' || '';
  -var bottom_bg_class = 'bottom_form_bg';
- };
.bottom-form(class=bottom_bg_class, style=bottom_bg_src)
  .container
    .row.no-margin-row
      .col.s12.hide-on-med-and-up
        if bottom_custom_text
          h2.m-bottom_title!=bottom_custom_text
        else
          h2.m-bf_title Почему стоит оставить заявку?
          .m-bf-list
            .title Наши услуги всегда бесплатны
            .text Вы платите только работу репетитора и только по факту проведения занятий
          .m-bf-list
            .title Мы найдем того, кто вам нужен
            .text Быстрый поиск репетитора  по вашим пожеланиям, бюджету и уровню знаний.
          .m-bf-list
            .title Индивидуальный подход
            .text Если преподаватель вам не подошел, мы учтем замечания и подберем другого
      .col.s12.m6.l4
        .row.no-margin-row
          .m-form_body.js-form
            .row
              .col.s12
                h2.m-fb_h2 Мы сделаем все за Вас
                h3.m-fb_h3 Просто оставьте заявку
            .row
              .input-field.col.s12.gray-input
                i.m_icon.icon_account_circle.prefix
                input(type='text' id='fb_name', name ='name', value=value.name).js-name
                label(for='fb_name') Имя
            .row
              .input-field.col.s12.gray-input
                i.m_icon.icon_phone.prefix
                input(type='tel' id='fb_phone', name='phone',value=value.phone).js-phone
                label(for='fb_phone') Телефон
            .row.fs_row-button.center-align
              .col.s12.m-fb_italic перезвоним через 10 минут 
              .col.s12
                a.waves-effect.waves-light.btn-large.orange-btn.m-field_btn.js-attach(name='bid_podbor') Перезвоните мне
                  i.m_icon.icon_send.right
            .row
              .col.s12
                .btn-large.m-succes-btn.white-text.light-blue.darken-4(style='background-color:' + bg_color  + ' !important;') Мы не передаем данные<br /> третьим лицам
                  i.m_icon.icon_lock_outline
          .m-success.js-success(style="display:none")
            h5.title_one Заявка успешно отправлена!
            h5.title_two Наш менеджер свяжется с Вами в течении 10-15 минут
            .row.no-margin-row.center-align
              a.waves-effect.waves-light.btn-large.orange-btn.m-field_btn.js-detail Уточнить заявку
      if bottom_custom_text
        .col.s12.m5.l7.offset-l1.offset-m1.hide-on-small-only
          h2.m-bottom_title!=bottom_custom_text
      else
        .col.s12.m5.l6.offset-m1.offset-l2.hide-on-small-only
          h2.m-bf_title Почему стоит оставить заявку?
          .m-bf-list
            .title Наши услуги всегда бесплатны
            .text Вы платите только работу репетитора и только по факту проведения занятий
          .m-bf-list
            .title Мы найдем того, кто вам нужен
            .text Быстрый поиск репетитора  по вашим пожеланиям, бюджету и уровню знаний.
          .m-bf-list
            .title Индивидуальный подход
            .text Если преподаватель вам не подошел, мы учтем замечания и подберем другого
