.first_screen(style='background-image: url(' + F(top_img)  + ')')
  .container
    .row
      if top_right
        -var offset_title = 'offset-s7 offset-m7 offset-l7'
      .col.s5.m5.l5(class=offset_title)
        .m-first_form
          .row
            .col.s12
              if dark_title_style
                -var dark_title = 'dark_style'
              h1.m-ff-title(class=dark_title, class=title_color)!=title
    .row
      if top_right
        -var offset_form = 'offset-s7 offset-m7 offset-l7' 
      .col.s4.m4.l4(class=offset_form)
        .row
          .m-form_body.js-form
            .row
              .col.s12
                h2.m-fb_h2 Мы сделаем все за Вас
                h3.m-fb_h3 Просто оставьте заявку
            .row
              .input-field.col.s12.gray-input
                i.m_icon.icon_account_circle.prefix
                input(type='text' id='f_name', name ='name', value=value.name).js-name
                label(for='f_name') Имя
            .row
              .input-field.col.s12.gray-input
                i.m_icon.icon_phone.prefix
                input(type='tel' id='f_phone', name='phone', value=value.phone).js-phone
                label(for='f_phone') Телефон
            .row.fs_row-button.center-align
              .col.s12
                a.waves-effect.waves-light.btn-large.orange-btn.m-field_btn.js-attach(name='bid_podbor') Перезвоните мне
                  i.m_icon.icon_send.right
            .row
              .col.s12
                .btn-large.m-succes-btn.white-text.light-blue.darken-4(style='background-color:' + bg_color  + ' !important;') Мы не передаем данные<br /> третьим лицам
                  i.m_icon.icon_lock_outline
          .m-success.js-success(style="display:none")
            h5.title_one Заявка успешно отправлена!
            h5.title_two Наш менеджер свяжется с Вами в течении 10-15 минут
            .row.no-margin-row.center-align
              a.waves-effect.waves-light.btn-large.orange-btn.m-field_btn.js-detail Уточнить заявку
if work_steps_show
  .work_steps!=work_steps
.tutors_cards
  .container
    h2=tutors_title
    .row.no-margin-row.m-inline_grid
      each tutor in tutors
        .col.s6.m6.l6!=tutor
.more_tutors
  .container
    .row.no-margin-row
      .col.s12 
        .m-mt_text
          span На нашем сайте вы найдете больше репетиторов
          i.m_icon.icon_chevron_right
          a.js-go_find(href='/search')
            img(src=F('lp/lh_white.png'))
.bottom-form
  .container
    .row.no-margin-row
      .col.s4.m4.l4
        .row.no-margin-row
          .m-form_body.js-form
            .row
              .col.s12
                h2.m-fb_h2 Мы сделаем все за Вас
                h3.m-fb_h3 Просто оставьте заявку
            .row
              .input-field.col.s12.gray-input
                i.m_icon.icon_account_circle.prefix
                input(type='text' id='fb_name', name ='name', value=value.name).js-name
                label(for='fb_name') Имя
            .row
              .input-field.col.s12.gray-input
                i.m_icon.icon_phone.prefix
                input(type='tel' id='fb_phone', name='phone',value=value.phone).js-phone
                label(for='fb_phone') Телефон
            .row.fs_row-button.center-align
              .col.s12
                a.waves-effect.waves-light.btn-large.orange-btn.m-field_btn.js-attach(name='bid_podbor') Перезвоните мне
                  i.m_icon.icon_send.right
            .row
              .col.s12
                .btn-large.m-succes-btn.white-text.light-blue.darken-4(style='background-color:' + bg_color  + ' !important;') Мы не передаем данные<br /> третьим лицам
                  i.m_icon.icon_lock_outline
          .m-success.js-success(style="display:none")
            h5.title_one Заявка успешно отправлена!
            h5.title_two Наш менеджер свяжется с Вами в течении 10-15 минут
            .row.no-margin-row.center-align
              a.waves-effect.waves-light.btn-large.orange-btn.m-field_btn.js-detail Уточнить заявку
      .col.s6.m6.l6.offset-s2.offset-m2.offset-l2
        h2.m-bf_title Почему стоит оставить заявку?
        .m-bf-list
          .title Мы найдем того, кто вам нужен
          .text Быстрый поиск репетитора  по вашим пожеланиям, бюджету и уровню знаний.
        .m-bf-list
          .title Оплачивайте только работу репетитора
          .text Наши услуги абсолютно бесплатны. Вы платите только за занятие с репетитором
        .m-bf-list
          .title Индивидуальный подход
          .text Если преподаватель вам не подошел, мы учтем замечания и подберем другого
