.header Уточните с какими учениками вы хотите заниматься

.hint!= hint

.select_block
  .block
    .title Пол:
    .value!= sex
  .block
    .title Класс:
    .value!= category
  .block
    .title Статус:
    .value!= status

  .button_block
    .button!= button