- url = $req.url


mixin item(element)
  if element.value
    - value = element.value
  else
    - value = element.default_text

  - selector = element.selector
  if selector == 'active'
    .item.active
      .icon
      .text.select=value
      a(href=url+'/'+element.fill_button_href)
        .fill_button!= fill_button
  else
    .item(class=selector)
      .icon
      .text.select=value

mixin report_line (title, value, selector)
  div(class=selector)
    .title= title
    .value.m-title= value

mixin line (title, value, selector)
  .line(class=selector)
    .title!= title
    .value.g-font-bidTitles
      div!= value
//- --------------------------------------------------------------------------------------

.bid_report_block
  .select_button
    .content!= checkbox
  .bid
    .basic_block.select
      .number_date
        .text!= number + '<br>'
          div(style="color: #444444")= date
      .subject_level
        .text!= subject + '<br>'
          = level
      .place
        .text= place
      .city_district
        .text!= city + '<br>'
          = district
      .bet
        .text!= bet_price + '<br>'
          != bet_time
      .price
        .text= price
      .status
        if status == 'start'
          .text
            .start
            .start
    .report_block
      .details_block_background.details_closed.select
        .header
          .icon
          .title.m-title Просмотреть доп.информацию
        .details_block
          +line('Категория ученика :', category_pupil, 'dark')
          +line('Направление подготовки :', training_direction, 'light' )
          +line('Количество занятий :', number_of_lessons, 'dark' )
          +line('Пожелания :', wishes, 'light' )
          +line('Ближайшее метро :', near_metro, 'dark' )
          +line('Комментарии :', comments, 'light' )
          +line('Цель занятия :', lesson_goal, 'dark' )
      .data.select
        .title.m-title Данные
        .content
          .full_name= full_name
          +report_line('Телефон :', phone, 'phone')
          +report_line('Почта :', post, 'post')
          +report_line('Skype :', skype, 'skype')
          +report_line('Желаемое время :', wish_time, 'wish_time')
      .report
        .title.m-title.select Отчёт
        .content
          .items
            +item(first_call)
            +item(first_lesson_date)
            +item(first_lesson_result)
            +item(payment)
          //-
            if first_call
              +item(first_call, fill_button, 'filled')
              if first_lesson_date
                +item(first_lesson_date, fill_button, 'filled')
                if first_lesson_result
                  +item(first_lesson_result, fill_button, 'filled')
                  if payment
                    +item(payment, fill_button, 'filled')
                  else
                    +item('Оплата', fill_button, 'active', '#')
                else
                  +item('Как прошло первое занятие?', fill_button, 'active', url + '/first_lesson_result')
              else
                +item('Дата первого занятия', fill_button, 'active', url + '/first_lesson_date')
            else
              +item('Ознакомительный звонок ученику', fill_button, 'active', url + '/first_call')
          .support
            .support_button!= support_button
      .review.select
        .title.m-title Отзыв
        .content
          .text Пока не собран.


//-
  first_call          : 'Первый звонок прошёл удачно'
  first_lesson_date   : '13 января'
  first_lesson_result : false
  payment
