mixin item (title, value, selector)
  label(class=selector)
    .title=title
    .value!=value

.info

  +item('Ваш статус :', your_status, 'your_status')
  +item('Курс :', course, 'course')
  +item('Уровень знаний :', knowledge_level, 'knowledge_level')

  .price
    .title Цена одного занятия :
    .value
      .top
        label.price_from
          .title от
          .value!= price_from
        label.price_to
          .title до
          .value!= price_to
      .bottom
        .slider!= price_slider


  +item('Опишите цель :', goal, 'goal')

.hint!= hint