
/////////////////////////////
.info
  .bg_box
    .title Место :
    .pupil!=pupil
    .tutor!=tutor
    .remote!=remote
  .bg_box
    .title Время занятий :
    .calendar!=calendar
  .bg_box1
    .title Длительность одного занятия :
    .time_spend_lesson!=time_spend_lesson
    .box_price
      .title Цена одного занятия :
      .price_500!=price_500
      .price_500_1000!=price_500_1000
      .price_1000_2000!=price_1000_2000
      .price_2000!=price_2000