- placeholder = placeholder || "";
- selector = selector || "";
- id = id || "";

label(class=selector)
  if text
    .text.select!=text
  .js-drop_down_list
    input.js-input(placeholder="#{placeholder}", id="#{id}", value=value )
    .js-icon_box
      .icon
    .js-select_sets
      .options_container
        .js-options
      != scroll
