.hint_block.select
  .title.g-font-middleTitle!= 'Отправленные Вам заявки'
  .hint!= hint
.bar
  .select_all
    .check_box!= select_all_checkbox
  .delete
    .icon
    .title Удалить
  .subject!= subject
.list_bids!= list_bids