
a.state.top
  .title  Заголовок страницы
  .name   Имя состояния
  .route  URL страницы
  .model  Файл макета

each state, name in states
  a(href=state.route).state
    .title= state.title
    .name= name
    .route= state.route
    .model= state.model
