//
   Created by lh on 09.02.16.
mixin tr_a(bid)
  -var date = new Date(bid.time);
  -var subjects = bid.subjects ? bid.subjects : bid.subject ?  {'0' : bid.subject} : {};
  a(href=bid.link).table-row
    .table-cell.time
      if !isNaN(date)
        p.local_date!=date.toLocaleDateString()
        i.local_time!=date.toLocaleTimeString()
      else
        !='-'

    .table-cell
      each s, i in subjects
        !=(i !== '0'?', ':'') + s
    .table-cell!=bid.name
    .table-cell.open подробнее

.table
  .table-header-group
    .table-row
      .table-cell Дата
      .table-cell Предмет
      .table-cell Имя
      .table-cell
  .table-row-group
    for b in value
      +tr_a(b)

//table.table_bids
//   thead
//      tr
//         th Дата
//         th Предмет
//         th Имя
//         th
//   tbody.js-bids
//      mixin bid(bid)
//        -var date = new Date(bid.time);
//        -var subjects = bid.subjects ? bid.subjects : bid.subject ?  {'0' : bid.subject} : {};
//        tr.bid
//          td
//            if !isNaN(date)
//              p.local_date!=date.toLocaleDateString()
//              i.local_time!=date.toLocaleTimeString()
//            else
//              !='-'
//
//          td
//            each s, i in subjects
//              !=(i !== '0'?', ':'') + s
//          td!=bid.name
//          td
//            a(href=bid.link) Детализация
//
//     for b in value
//        +bid(b)