.info.unselect
  .bg_box
    .text_box
      .title Статус репетитора :
    .student!= student
    .teacher!= teacher
    .professor!= professor
    .native!= native
    //.hint!= location_hint
    label
      .text_box
        .title Опыт репетитора
      .experience!=experience
    //.text_box
      .title Возраст :
    //.age_slider!=age_slider
    label
      .text_box
        .title Пол репетиора:
      .gender_data!=gender_data
    //.hint!=lesson_time_hint
