.info.unselect
  .bg_box
    .title.select Статус :
    .student!= student
    .teacher!= teacher
    .professor!= professor
    .native!= native
    //.hint!= location_hint
  .bg_box
    .experience!=experience
  .bg_box
    .title Возраст :
    .age_slider!=age_slider
  .bg_box1
    .title Пол :
    .gender_data!=gender_data
    //.hint!=lesson_time_hint
