.info.unselect
  .location
    .title.select Место :
    .value
      .tutor!= tutor
      .student!= student
      .web!= web
      .hint!= location_hint
  .your_address!= your_address

  .time_spend_way_box
    .box_title
      .title.select Время на дорогу :
    .time_spend_way!=time_spend_way


  .calendar_box
    .box_title
      .title.select Дни и время занятий :
    .calendar!=calendar


  .time_spend_lesson_box
    .box_title
      .title.select Время одного занятия :
    .time_spend_lesson!=time_spend_lesson
