.info_panel_block.unselect(class=selector)
  .box_math.js-button!= math
  .box_natural_research.js-button!= natural_research
  .box_philology.js-button!= philology
  .box_foreign_languages.js-button!= foreign_languages
  .box_others.js-button!= others