.box_math.js-button
  .math= math
.box_natural_research.js-button
  .natural_research= natural_research
.box_philology.js-button
  .philology= philology
.box_foreign_languages.js-button
  .foreign_languages= foreign_languages
.box_others.js-button
  .others= others