.info_panel_block(class=selector)
  if math
    .box_math.js-button!= math
    .box_natural_research.js-button!= natural_research
    .box_philology.js-button!= philology
    .box_foreign_languages.js-button!= foreign_languages
    .box_others.js-button!= others

  if subject
    .box_advanced_search.js-button
      .m-icon
      .advanced_search Расширенный поиск
    .box_subject.js-button
      .subject= subject
    .box_tutor.js-button
      .tutor= tutor
    .box_place.js-button
      .place= place
    .box_price.js-button
      .price= price