.box_math
  .math= math
.box_natural_research
  .natural_research= natural_research
.box_philology
  .philology= philology
.box_foreign_languages
  .foreign_languages= foreign_languages
.box_others
  .others= others