.container
  .background_all
    .content_background
  .background_top
    .header!= header
  .center_block
    .left_menu!= left_menu
    .content
      if sub_top_menu
        .container_sub_top_menu
          .sub_top_menu!=sub_top_menu
            .triangle
      != content
.footer!= footer
.attached!=bottom_block_attached
