mixin info_block(block_class, header, value)
  .container
    label(class=block_class)
      .value.g-standardField!= value
      .m-title.g-edit-smallTitle.select= header
//- -------------------------------------------------


.block
  +info_block('country', 'Страна :', country)
  +info_block('city', 'Город :', city)
  .container
    .address
      .value.g-standardField!= location_button
      .m-title.g-edit-smallTitle.select Адрес :

  .line!=line

  +info_block('mobile_phone', 'Мобильный телефон :', mobile_phone)
  +info_block('additional_phone', 'Дополнительный телефон :', additional_phone)
  +info_block('mail', 'Почта :', mail)
  +info_block('skype', 'Skype :', skype)
  +info_block('personal_website', 'Личный сайт :', personal_website)

  .button_block
    .save_button!= save_button

//-.hint!= hint




