-selector=selector||"";
//if title
  .title_block.select
    .title!=title
.js-changes_field!=changes_field
.block_edit(class=selector)
  .tutor_edit!=tutor_edit
  .add_button!=add_button
  if possibility_save_button
    .save_button!=save_button
if hint
  .hint!=hint