//- available variables :
//- type : streamlined || fixed;
//- text : value text

if color
  .button(class=type, style="background-color : #{color}")
    .text=text
else
  .button(class=type)
    .text=text
